openapi: 3.0.1
info:
  title: Bind ERP API
  version: '1.0'
servers:
  - url: http://api.bind.com.mx
  - url: https://api.bind.com.mx
paths:
  /api/AccountingJournals:
    get:
      tags:
        - AccountingJournals
      summary: Obtiene la lista de pólizas contables.
      description: Obtiene la lista de pólizas contables.
      operationId: AccountingJournals_Get
      parameters:
        - name: $filter
          in: query
          description: 'Filters the results, based on a Boolean condition.'
          schema:
            type: string
        - name: $orderby
          in: query
          description: Sorts the results.
          schema:
            type: string
        - name: $top
          in: query
          description: Returns only the first n results.
          schema:
            type: integer
        - name: $skip
          in: query
          description: Skips the first n results.
          schema:
            type: integer
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountingJournalPage'
              example:
                value:
                  - ID: 00000000-0000-0000-0000-000000000000
                    DocumentID: 00000000-0000-0000-0000-000000000000
                    Type: string
                    ApplicationDate: string
                    CreationDate: string
                    Number: 0
                    LocationID: 00000000-0000-0000-0000-000000000000
                    PeriodType: string
                    Items:
                      - AccountID: 00000000-0000-0000-0000-000000000000
                        AccountName: string
                        Description: string
                        Debit: 0
                        Charge: 0
                nextLink: string
                count: 0
            text/json:
              schema:
                $ref: '#/components/schemas/AccountingJournalPage'
              example:
                value:
                  - ID: 00000000-0000-0000-0000-000000000000
                    DocumentID: 00000000-0000-0000-0000-000000000000
                    Type: string
                    ApplicationDate: string
                    CreationDate: string
                    Number: 0
                    LocationID: 00000000-0000-0000-0000-000000000000
                    PeriodType: string
                    Items:
                      - AccountID: 00000000-0000-0000-0000-000000000000
                        AccountName: string
                        Description: string
                        Debit: 0
                        Charge: 0
                nextLink: string
                count: 0
    put:
      tags:
        - AccountingJournals
      summary: Editar póliza contable
      description: Editar póliza contable
      operationId: AccountingJournals_EditAccountingJournal
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EditAccountingJournal'
            example:
              ID: 00000000-0000-0000-0000-000000000000
              Date: string
              JournalItems:
                - SATCompanyAccountID: 00000000-0000-0000-0000-000000000000
                  Cargo: 0
                  Abono: 0
                  Comments: string
              Comments: string
              LocationID: 00000000-0000-0000-0000-000000000000
          text/json:
            schema:
              $ref: '#/components/schemas/EditAccountingJournal'
            example:
              ID: 00000000-0000-0000-0000-000000000000
              Date: string
              JournalItems:
                - SATCompanyAccountID: 00000000-0000-0000-0000-000000000000
                  Cargo: 0
                  Abono: 0
                  Comments: string
              Comments: string
              LocationID: 00000000-0000-0000-0000-000000000000
          application/xml:
            schema:
              $ref: '#/components/schemas/EditAccountingJournal'
            example:
              ID: 00000000-0000-0000-0000-000000000000
              Date: string
              JournalItems:
                - SATCompanyAccountID: 00000000-0000-0000-0000-000000000000
                  Cargo: 0
                  Abono: 0
                  Comments: string
              Comments: string
              LocationID: 00000000-0000-0000-0000-000000000000
          text/xml:
            schema:
              $ref: '#/components/schemas/EditAccountingJournal'
            example:
              ID: 00000000-0000-0000-0000-000000000000
              Date: string
              JournalItems:
                - SATCompanyAccountID: 00000000-0000-0000-0000-000000000000
                  Cargo: 0
                  Abono: 0
                  Comments: string
              Comments: string
              LocationID: 00000000-0000-0000-0000-000000000000
          application/x-www-form-urlencoded: { }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiAccountingJournalsPut200TextXmlResponse'
              example: 00000000-0000-0000-0000-000000000000
            text/json:
              schema:
                $ref: '#/components/schemas/ApiAccountingJournalsPut200TextXmlResponse'
              example: 00000000-0000-0000-0000-000000000000
            application/xml:
              schema:
                $ref: '#/components/schemas/ApiAccountingJournalsPut200TextXmlResponse'
              example: 00000000-0000-0000-0000-000000000000
            text/xml:
              schema:
                $ref: '#/components/schemas/ApiAccountingJournalsPut200TextXmlResponse'
              example: 00000000-0000-0000-0000-000000000000
    post:
      tags:
        - AccountingJournals
      summary: Agregar póliza contable
      description: Agregar póliza contable
      operationId: AccountingJournals_AddAccountingJournal
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NewAccountingJournal'
            example:
              Date: string
              Comments: string
              LocationID: 00000000-0000-0000-0000-000000000000
              JournalItems:
                - SATCompanyAccountID: 00000000-0000-0000-0000-000000000000
                  Cargo: 0
                  Abono: 0
                  Comments: string
          text/json:
            schema:
              $ref: '#/components/schemas/NewAccountingJournal'
            example:
              Date: string
              Comments: string
              LocationID: 00000000-0000-0000-0000-000000000000
              JournalItems:
                - SATCompanyAccountID: 00000000-0000-0000-0000-000000000000
                  Cargo: 0
                  Abono: 0
                  Comments: string
          application/xml:
            schema:
              $ref: '#/components/schemas/NewAccountingJournal'
            example:
              Date: string
              Comments: string
              LocationID: 00000000-0000-0000-0000-000000000000
              JournalItems:
                - SATCompanyAccountID: 00000000-0000-0000-0000-000000000000
                  Cargo: 0
                  Abono: 0
                  Comments: string
          text/xml:
            schema:
              $ref: '#/components/schemas/NewAccountingJournal'
            example:
              Date: string
              Comments: string
              LocationID: 00000000-0000-0000-0000-000000000000
              JournalItems:
                - SATCompanyAccountID: 00000000-0000-0000-0000-000000000000
                  Cargo: 0
                  Abono: 0
                  Comments: string
          application/x-www-form-urlencoded: { }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiAccountingJournalsPost200TextXmlResponse'
              example: 00000000-0000-0000-0000-000000000000
            text/json:
              schema:
                $ref: '#/components/schemas/ApiAccountingJournalsPost200TextXmlResponse'
              example: 00000000-0000-0000-0000-000000000000
            application/xml:
              schema:
                $ref: '#/components/schemas/ApiAccountingJournalsPost200TextXmlResponse'
              example: 00000000-0000-0000-0000-000000000000
            text/xml:
              schema:
                $ref: '#/components/schemas/ApiAccountingJournalsPost200TextXmlResponse'
              example: 00000000-0000-0000-0000-000000000000
    delete:
      tags:
        - AccountingJournals
      summary: Eliminar póliza contable
      description: Eliminar póliza contable
      operationId: AccountingJournals_DeleteAccountingJournal
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IdList'
            example:
              - 00000000-0000-0000-0000-000000000000
          text/json:
            schema:
              $ref: '#/components/schemas/IdList'
            example:
              - 00000000-0000-0000-0000-000000000000
          application/xml:
            schema:
              $ref: '#/components/schemas/IdList'
            example:
              - 00000000-0000-0000-0000-000000000000
          text/xml:
            schema:
              $ref: '#/components/schemas/IdList'
            example:
              - 00000000-0000-0000-0000-000000000000
          application/x-www-form-urlencoded: { }
      responses:
        '204':
          description: No Content
  /api/AccountCategories:
    get:
      tags:
        - Accounts
      summary: Obtiene las categorías de cuentas contables.
      description: Obtiene las categorías de cuentas contables.
      operationId: Accounts_GetAccountCategories
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountCategories'
              example:
                GLGroups:
                  - ID: 00000000-0000-0000-0000-000000000000
                    Description: string
                    Groups:
                      - ID: 00000000-0000-0000-0000-000000000000
                        Code: string
                        Prefix: string
                        Description: string
                        SubGroups:
                          - ID: 00000000-0000-0000-0000-000000000000
                            Code: string
                            Prefix: string
                            Description: string
            text/json:
              schema:
                $ref: '#/components/schemas/AccountCategories'
              example:
                GLGroups:
                  - ID: 00000000-0000-0000-0000-000000000000
                    Description: string
                    Groups:
                      - ID: 00000000-0000-0000-0000-000000000000
                        Code: string
                        Prefix: string
                        Description: string
                        SubGroups:
                          - ID: 00000000-0000-0000-0000-000000000000
                            Code: string
                            Prefix: string
                            Description: string
            application/xml:
              schema:
                $ref: '#/components/schemas/AccountCategories'
              example: <AccountCategories> <GLGroups> <ID>00000000-0000-0000-0000-000000000000</ID> <Description>string</Description> <Groups> <ID>00000000-0000-0000-0000-000000000000</ID> <Code>string</Code> <Prefix>string</Prefix> <Description>string</Description> <SubGroups> <ID>00000000-0000-0000-0000-000000000000</ID> <Code>string</Code> <Prefix>string</Prefix> <Description>string</Description> </SubGroups> </Groups> </GLGroups> </AccountCategories>
            text/xml:
              schema:
                $ref: '#/components/schemas/AccountCategories'
              example: <AccountCategories> <GLGroups> <ID>00000000-0000-0000-0000-000000000000</ID> <Description>string</Description> <Groups> <ID>00000000-0000-0000-0000-000000000000</ID> <Code>string</Code> <Prefix>string</Prefix> <Description>string</Description> <SubGroups> <ID>00000000-0000-0000-0000-000000000000</ID> <Code>string</Code> <Prefix>string</Prefix> <Description>string</Description> </SubGroups> </Groups> </GLGroups> </AccountCategories>
  /api/Accounts:
    get:
      tags:
        - Accounts
      summary: Obtiene la lista de cuentas contables.
      description: Obtiene la lista de cuentas contables.
      operationId: Accounts_Get
      parameters:
        - name: $filter
          in: query
          description: 'Filters the results, based on a Boolean condition.'
          schema:
            type: string
        - name: $orderby
          in: query
          description: Sorts the results.
          schema:
            type: string
        - name: $top
          in: query
          description: Returns only the first n results.
          schema:
            type: integer
        - name: $skip
          in: query
          description: Skips the first n results.
          schema:
            type: integer
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountPage'
              example:
                value:
                  - ID: 00000000-0000-0000-0000-000000000000
                    GLGroup: string
                    Group: string
                    SubGroup: string
                    GLGroupID: 00000000-0000-0000-0000-000000000000
                    GroupID: 00000000-0000-0000-0000-000000000000
                    SubGroupID: 00000000-0000-0000-0000-000000000000
                    Number: string
                    Description: string
                nextLink: string
                count: 0
            text/json:
              schema:
                $ref: '#/components/schemas/AccountPage'
              example:
                value:
                  - ID: 00000000-0000-0000-0000-000000000000
                    GLGroup: string
                    Group: string
                    SubGroup: string
                    GLGroupID: 00000000-0000-0000-0000-000000000000
                    GroupID: 00000000-0000-0000-0000-000000000000
                    SubGroupID: 00000000-0000-0000-0000-000000000000
                    Number: string
                    Description: string
                nextLink: string
                count: 0
    post:
      tags:
        - Accounts
      summary: Agregar Cuenta Contable
      description: Agregar Cuenta Contable
      operationId: Accounts_AddAccount
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NewAccount'
            example:
              SubGroupID: 00000000-0000-0000-0000-000000000000
              Description: string
              Depreciation: 0
          text/json:
            schema:
              $ref: '#/components/schemas/NewAccount'
            example:
              SubGroupID: 00000000-0000-0000-0000-000000000000
              Description: string
              Depreciation: 0
          application/xml:
            schema:
              $ref: '#/components/schemas/NewAccount'
            example:
              SubGroupID: 00000000-0000-0000-0000-000000000000
              Description: string
              Depreciation: 0
          text/xml:
            schema:
              $ref: '#/components/schemas/NewAccount'
            example:
              SubGroupID: 00000000-0000-0000-0000-000000000000
              Description: string
              Depreciation: 0
          application/x-www-form-urlencoded: { }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiAccountsPost200TextXmlResponse'
              example: 00000000-0000-0000-0000-000000000000
            text/json:
              schema:
                $ref: '#/components/schemas/ApiAccountsPost200TextXmlResponse'
              example: 00000000-0000-0000-0000-000000000000
            application/xml:
              schema:
                $ref: '#/components/schemas/ApiAccountsPost200TextXmlResponse'
              example: 00000000-0000-0000-0000-000000000000
            text/xml:
              schema:
                $ref: '#/components/schemas/ApiAccountsPost200TextXmlResponse'
              example: 00000000-0000-0000-0000-000000000000
  '/api/Accounts/{id}':
    delete:
      tags:
        - Accounts
      summary: Borrar Cuenta Contable
      description: Borrar Cuenta Contable
      operationId: Accounts_DeleteAccount
      parameters:
        - name: id
          in: path
          description: Format - uuid. Format - uuid.
          required: true
          schema:
            type: string
            format: uuid
        - name: replacementID
          in: query
          description: Format - uuid. Format - uuid.
          schema:
            type: string
            format: uuid
      responses:
        '204':
          description: No Content
  /api/Activities:
    get:
      tags:
        - Activities
      summary: Listar actividades
      description: Listar actividades
      operationId: Activities_Get
      parameters:
        - name: $filter
          in: query
          description: 'Filters the results, based on a Boolean condition.'
          schema:
            type: string
        - name: $orderby
          in: query
          description: Sorts the results.
          schema:
            type: string
        - name: $top
          in: query
          description: Returns only the first n results.
          schema:
            type: integer
        - name: $skip
          in: query
          description: Skips the first n results.
          schema:
            type: integer
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActivityPage'
              example:
                value:
                  - ID: 00000000-0000-0000-0000-000000000000
                    Title: string
                    Start: string
                    End: string
                    EmployeeID: 00000000-0000-0000-0000-000000000000
                    Done: true
                    Status: 0
                    GroupID: 00000000-0000-0000-0000-000000000000
                    Type: 0
                    ExternalID: 00000000-0000-0000-0000-000000000000
                    AllDay: true
                    LocationID: 00000000-0000-0000-0000-000000000000
                    IsPublic: true
                    EventTypeID: 00000000-0000-0000-0000-000000000000
                    EventTypeText: string
                    ExternalIDType: 0
                    ActionName: string
                    ActionLink: string
                    Description: string
                nextLink: string
                count: 0
            text/json:
              schema:
                $ref: '#/components/schemas/ActivityPage'
              example:
                value:
                  - ID: 00000000-0000-0000-0000-000000000000
                    Title: string
                    Start: string
                    End: string
                    EmployeeID: 00000000-0000-0000-0000-000000000000
                    Done: true
                    Status: 0
                    GroupID: 00000000-0000-0000-0000-000000000000
                    Type: 0
                    ExternalID: 00000000-0000-0000-0000-000000000000
                    AllDay: true
                    LocationID: 00000000-0000-0000-0000-000000000000
                    IsPublic: true
                    EventTypeID: 00000000-0000-0000-0000-000000000000
                    EventTypeText: string
                    ExternalIDType: 0
                    ActionName: string
                    ActionLink: string
                    Description: string
                nextLink: string
                count: 0
    post:
      tags:
        - Activities
      summary: Agregar actividad
      description: Agregar actividad
      operationId: Activities_AddActivity
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NewActivity'
            example:
              Comment: string
              StartDate: string
              EndDate: string
              EventType: 00000000-0000-0000-0000-000000000000
              IsPublic: true
              Title: string
              Repeatable: true
              RepeatInterval: 0
              RepeatType: 0
              Repetitions: 0
              ExternalID: 00000000-0000-0000-0000-000000000000
              ExternalIDType: 0
          text/json:
            schema:
              $ref: '#/components/schemas/NewActivity'
            example:
              Comment: string
              StartDate: string
              EndDate: string
              EventType: 00000000-0000-0000-0000-000000000000
              IsPublic: true
              Title: string
              Repeatable: true
              RepeatInterval: 0
              RepeatType: 0
              Repetitions: 0
              ExternalID: 00000000-0000-0000-0000-000000000000
              ExternalIDType: 0
          application/xml:
            schema:
              $ref: '#/components/schemas/NewActivity'
            example:
              Comment: string
              StartDate: string
              EndDate: string
              EventType: 00000000-0000-0000-0000-000000000000
              IsPublic: true
              Title: string
              Repeatable: true
              RepeatInterval: 0
              RepeatType: 0
              Repetitions: 0
              ExternalID: 00000000-0000-0000-0000-000000000000
              ExternalIDType: 0
          text/xml:
            schema:
              $ref: '#/components/schemas/NewActivity'
            example:
              Comment: string
              StartDate: string
              EndDate: string
              EventType: 00000000-0000-0000-0000-000000000000
              IsPublic: true
              Title: string
              Repeatable: true
              RepeatInterval: 0
              RepeatType: 0
              Repetitions: 0
              ExternalID: 00000000-0000-0000-0000-000000000000
              ExternalIDType: 0
          application/x-www-form-urlencoded: { }
      responses:
        '204':
          description: No Content
  /api/BankAccounts:
    get:
      tags:
        - BankAccounts
      summary: Obtiene la lista de cuentas bancarias.
      description: Obtiene la lista de cuentas bancarias.
      operationId: BankAccounts_Get
      parameters:
        - name: $filter
          in: query
          description: 'Filters the results, based on a Boolean condition.'
          schema:
            type: string
        - name: $orderby
          in: query
          description: Sorts the results.
          schema:
            type: string
        - name: $top
          in: query
          description: Returns only the first n results.
          schema:
            type: integer
        - name: $skip
          in: query
          description: Skips the first n results.
          schema:
            type: integer
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BankAccountPage'
              example:
                value:
                  - ID: 00000000-0000-0000-0000-000000000000
                    Type: 0
                    TypeText: string
                    BankID: 00000000-0000-0000-0000-000000000000
                    BankName: string
                    Name: string
                    Balance: 0
                    CurrencyID: 00000000-0000-0000-0000-000000000000
                    CurrencyCode: string
                    LocationID: 00000000-0000-0000-0000-000000000000
                nextLink: string
                count: 0
            text/json:
              schema:
                $ref: '#/components/schemas/BankAccountPage'
              example:
                value:
                  - ID: 00000000-0000-0000-0000-000000000000
                    Type: 0
                    TypeText: string
                    BankID: 00000000-0000-0000-0000-000000000000
                    BankName: string
                    Name: string
                    Balance: 0
                    CurrencyID: 00000000-0000-0000-0000-000000000000
                    CurrencyCode: string
                    LocationID: 00000000-0000-0000-0000-000000000000
                nextLink: string
                count: 0
    post:
      tags:
        - BankAccounts
      summary: Agregar un ajuste de cuenta bancaria.
      description: Agregar un ajuste de cuenta bancaria.
      operationId: BankAccounts_AddAccountAdjustment
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NewAccountAdjustment'
            example:
              AccountID: 00000000-0000-0000-0000-000000000000
              ExchangeRate: 0
              Amount: 0
              SatAccountID: 00000000-0000-0000-0000-000000000000
              Date: string
              Comments: string
          text/json:
            schema:
              $ref: '#/components/schemas/NewAccountAdjustment'
            example:
              AccountID: 00000000-0000-0000-0000-000000000000
              ExchangeRate: 0
              Amount: 0
              SatAccountID: 00000000-0000-0000-0000-000000000000
              Date: string
              Comments: string
          application/xml:
            schema:
              $ref: '#/components/schemas/NewAccountAdjustment'
            example:
              AccountID: 00000000-0000-0000-0000-000000000000
              ExchangeRate: 0
              Amount: 0
              SatAccountID: 00000000-0000-0000-0000-000000000000
              Date: string
              Comments: string
          text/xml:
            schema:
              $ref: '#/components/schemas/NewAccountAdjustment'
            example:
              AccountID: 00000000-0000-0000-0000-000000000000
              ExchangeRate: 0
              Amount: 0
              SatAccountID: 00000000-0000-0000-0000-000000000000
              Date: string
              Comments: string
          application/x-www-form-urlencoded: { }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiBankAccountsPost200TextXmlResponse'
              example: 00000000-0000-0000-0000-000000000000
            text/json:
              schema:
                $ref: '#/components/schemas/ApiBankAccountsPost200TextXmlResponse'
              example: 00000000-0000-0000-0000-000000000000
            application/xml:
              schema:
                $ref: '#/components/schemas/ApiBankAccountsPost200TextXmlResponse'
              example: 00000000-0000-0000-0000-000000000000
            text/xml:
              schema:
                $ref: '#/components/schemas/ApiBankAccountsPost200TextXmlResponse'
              example: 00000000-0000-0000-0000-000000000000
  /api/PriceLists:
    get:
      tags:
        - Catalogs
      summary: Obtiene la lista de precios.
      description: Obtiene la lista de precios.
      operationId: Catalogs_GetPriceLists
      parameters:
        - name: $filter
          in: query
          description: 'Filters the results, based on a Boolean condition.'
          schema:
            type: string
        - name: $orderby
          in: query
          description: Sorts the results.
          schema:
            type: string
        - name: $top
          in: query
          description: Returns only the first n results.
          schema:
            type: integer
        - name: $skip
          in: query
          description: Skips the first n results.
          schema:
            type: integer
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PriceListPage'
              example:
                value:
                  - ID: 00000000-0000-0000-0000-000000000000
                    Name: string
                nextLink: string
                count: 0
            text/json:
              schema:
                $ref: '#/components/schemas/PriceListPage'
              example:
                value:
                  - ID: 00000000-0000-0000-0000-000000000000
                    Name: string
                nextLink: string
                count: 0
  /api/Locations:
    get:
      tags:
        - Catalogs
      summary: Obtiene la lista de sucursales.
      description: Obtiene la lista de sucursales.
      operationId: Catalogs_GetLocations
      parameters:
        - name: $filter
          in: query
          description: 'Filters the results, based on a Boolean condition.'
          schema:
            type: string
        - name: $orderby
          in: query
          description: Sorts the results.
          schema:
            type: string
        - name: $top
          in: query
          description: Returns only the first n results.
          schema:
            type: integer
        - name: $skip
          in: query
          description: Skips the first n results.
          schema:
            type: integer
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LocationPage'
              example:
                value:
                  - ID: 00000000-0000-0000-0000-000000000000
                    Name: string
                    Street: string
                    ExtNumber: string
                    IntNumber: string
                    ZipCode: string
                    Colonia: string
                    City: string
                    State: string
                nextLink: string
                count: 0
            text/json:
              schema:
                $ref: '#/components/schemas/LocationPage'
              example:
                value:
                  - ID: 00000000-0000-0000-0000-000000000000
                    Name: string
                    Street: string
                    ExtNumber: string
                    IntNumber: string
                    ZipCode: string
                    Colonia: string
                    City: string
                    State: string
                nextLink: string
                count: 0
  /api/Currencies:
    get:
      tags:
        - Catalogs
      summary: Obtiene la lista de monedas.
      description: Obtiene la lista de monedas.
      operationId: Catalogs_GetCurrencies
      parameters:
        - name: $filter
          in: query
          description: 'Filters the results, based on a Boolean condition.'
          schema:
            type: string
        - name: $orderby
          in: query
          description: Sorts the results.
          schema:
            type: string
        - name: $top
          in: query
          description: Returns only the first n results.
          schema:
            type: integer
        - name: $skip
          in: query
          description: Skips the first n results.
          schema:
            type: integer
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CurrencyPage'
              example:
                value:
                  - ID: 00000000-0000-0000-0000-000000000000
                    Name: string
                    Code: string
                    ExchangeRate: 0
                nextLink: string
                count: 0
            text/json:
              schema:
                $ref: '#/components/schemas/CurrencyPage'
              example:
                value:
                  - ID: 00000000-0000-0000-0000-000000000000
                    Name: string
                    Code: string
                    ExchangeRate: 0
                nextLink: string
                count: 0
  /api/Categories:
    get:
      tags:
        - Catalogs
      summary: Obtiene la lista de Categorias.
      description: Obtiene la lista de Categorias.
      operationId: Catalogs_GetCategories
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Category1Array'
              example:
                - ID: 00000000-0000-0000-0000-000000000000
                  Name: string
                  SubCategories:
                    - ID: 00000000-0000-0000-0000-000000000000
                      Name: string
                      SubCategories:
                        - ID: 00000000-0000-0000-0000-000000000000
                          Name: string
            text/json:
              schema:
                $ref: '#/components/schemas/Category1Array'
              example:
                - ID: 00000000-0000-0000-0000-000000000000
                  Name: string
                  SubCategories:
                    - ID: 00000000-0000-0000-0000-000000000000
                      Name: string
                      SubCategories:
                        - ID: 00000000-0000-0000-0000-000000000000
                          Name: string
            application/xml:
              schema:
                $ref: '#/components/schemas/Category1Array'
              example: <Category1Array> <ID>00000000-0000-0000-0000-000000000000</ID> <Name>string</Name> <SubCategories> <ID>00000000-0000-0000-0000-000000000000</ID> <Name>string</Name> <SubCategories> <ID>00000000-0000-0000-0000-000000000000</ID> <Name>string</Name> </SubCategories> </SubCategories> </Category1Array>
            text/xml:
              schema:
                $ref: '#/components/schemas/Category1Array'
              example: <Category1Array> <ID>00000000-0000-0000-0000-000000000000</ID> <Name>string</Name> <SubCategories> <ID>00000000-0000-0000-0000-000000000000</ID> <Name>string</Name> <SubCategories> <ID>00000000-0000-0000-0000-000000000000</ID> <Name>string</Name> </SubCategories> </SubCategories> </Category1Array>
  /api/Banks:
    get:
      tags:
        - Catalogs
      summary: Obtiene la lista de bancos.
      description: Obtiene la lista de bancos.
      operationId: Catalogs_GetBanks
      parameters:
        - name: $filter
          in: query
          description: 'Filters the results, based on a Boolean condition.'
          schema:
            type: string
        - name: $orderby
          in: query
          description: Sorts the results.
          schema:
            type: string
        - name: $top
          in: query
          description: Returns only the first n results.
          schema:
            type: integer
        - name: $skip
          in: query
          description: Skips the first n results.
          schema:
            type: integer
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BankPage'
              example:
                value:
                  - ID: 00000000-0000-0000-0000-000000000000
                    Name: string
                nextLink: string
                count: 0
            text/json:
              schema:
                $ref: '#/components/schemas/BankPage'
              example:
                value:
                  - ID: 00000000-0000-0000-0000-000000000000
                    Name: string
                nextLink: string
                count: 0
  /api/Series:
    get:
      tags:
        - Catalogs
      summary: Obtiene la lista de Series.
      description: Obtiene la lista de Series.
      operationId: Catalogs_GetSeries
      parameters:
        - name: docType
          in: query
          description: Format - int32. Format - int32.
          required: true
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SeriesArray'
              example:
                - ID: 00000000-0000-0000-0000-000000000000
                  Serie: string
                  StartNumber: 0
                  CurrentNumber: 0
                  Date: string
                  DocType: 0
                  DocTypeText: string
                  Locations:
                    - 00000000-0000-0000-0000-000000000000
            text/json:
              schema:
                $ref: '#/components/schemas/SeriesArray'
              example:
                - ID: 00000000-0000-0000-0000-000000000000
                  Serie: string
                  StartNumber: 0
                  CurrentNumber: 0
                  Date: string
                  DocType: 0
                  DocTypeText: string
                  Locations:
                    - 00000000-0000-0000-0000-000000000000
            application/xml:
              schema:
                $ref: '#/components/schemas/SeriesArray'
              example: <SeriesArray> <ID>00000000-0000-0000-0000-000000000000</ID> <Serie>string</Serie> <StartNumber>0</StartNumber> <CurrentNumber>0</CurrentNumber> <Date>string</Date> <DocType>0</DocType> <DocTypeText>string</DocTypeText> <Locations>00000000-0000-0000-0000-000000000000</Locations> </SeriesArray>
            text/xml:
              schema:
                $ref: '#/components/schemas/SeriesArray'
              example: <SeriesArray> <ID>00000000-0000-0000-0000-000000000000</ID> <Serie>string</Serie> <StartNumber>0</StartNumber> <CurrentNumber>0</CurrentNumber> <Date>string</Date> <DocType>0</DocType> <DocTypeText>string</DocTypeText> <Locations>00000000-0000-0000-0000-000000000000</Locations> </SeriesArray>
  /api/Users:
    get:
      tags:
        - Catalogs
      summary: Obtiene la lista de usuarios.
      description: Obtiene la lista de usuarios.
      operationId: Catalogs_GetUsers
      parameters:
        - name: $filter
          in: query
          description: 'Filters the results, based on a Boolean condition.'
          schema:
            type: string
        - name: $orderby
          in: query
          description: Sorts the results.
          schema:
            type: string
        - name: $top
          in: query
          description: Returns only the first n results.
          schema:
            type: integer
        - name: $skip
          in: query
          description: Skips the first n results.
          schema:
            type: integer
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserPage'
              example:
                value:
                  - ID: 00000000-0000-0000-0000-000000000000
                    FullName: string
                    JobPosition: string
                    LocationID: 00000000-0000-0000-0000-000000000000
                    Email: string
                    UserName: string
                nextLink: string
                count: 0
            text/json:
              schema:
                $ref: '#/components/schemas/UserPage'
              example:
                value:
                  - ID: 00000000-0000-0000-0000-000000000000
                    FullName: string
                    JobPosition: string
                    LocationID: 00000000-0000-0000-0000-000000000000
                    Email: string
                    UserName: string
                nextLink: string
                count: 0
  /api/States:
    get:
      tags:
        - Catalogs
      summary: Obtiene la lista de Estados.
      description: Obtiene la lista de Estados.
      operationId: Catalogs_GetStates
      parameters:
        - name: $filter
          in: query
          description: 'Filters the results, based on a Boolean condition.'
          schema:
            type: string
        - name: $orderby
          in: query
          description: Sorts the results.
          schema:
            type: string
        - name: $top
          in: query
          description: Returns only the first n results.
          schema:
            type: integer
        - name: $skip
          in: query
          description: Skips the first n results.
          schema:
            type: integer
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatePage'
              example:
                value:
                  - ID: 00000000-0000-0000-0000-000000000000
                    Name: string
                nextLink: string
                count: 0
            text/json:
              schema:
                $ref: '#/components/schemas/StatePage'
              example:
                value:
                  - ID: 00000000-0000-0000-0000-000000000000
                    Name: string
                nextLink: string
                count: 0
  /api/Cities:
    get:
      tags:
        - Catalogs
      summary: Obtiene la lista de Ciudades por estado.
      description: Obtiene la lista de Ciudades por estado.
      operationId: Catalogs_GetCities
      parameters:
        - name: stateID
          in: query
          description: Format - uuid. Format - uuid.
          required: true
          schema:
            type: string
            format: uuid
        - name: $filter
          in: query
          description: 'Filters the results, based on a Boolean condition.'
          schema:
            type: string
        - name: $orderby
          in: query
          description: Sorts the results.
          schema:
            type: string
        - name: $top
          in: query
          description: Returns only the first n results.
          schema:
            type: integer
        - name: $skip
          in: query
          description: Skips the first n results.
          schema:
            type: integer
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CityPage'
              example:
                value:
                  - ID: 00000000-0000-0000-0000-000000000000
                    Name: string
                    StateID: 00000000-0000-0000-0000-000000000000
                nextLink: string
                count: 0
            text/json:
              schema:
                $ref: '#/components/schemas/CityPage'
              example:
                value:
                  - ID: 00000000-0000-0000-0000-000000000000
                    Name: string
                    StateID: 00000000-0000-0000-0000-000000000000
                nextLink: string
                count: 0
  /api/Clients:
    get:
      tags:
        - Clients
      summary: Obtiene la lista de clientes.
      description: El filtro es opcional
      operationId: Clients_Get
      parameters:
        - name: $filter
          in: query
          description: 'Filters the results, based on a Boolean condition.'
          schema:
            type: string
        - name: $orderby
          in: query
          description: Sorts the results.
          schema:
            type: string
        - name: $top
          in: query
          description: Returns only the first n results.
          schema:
            type: integer
        - name: $skip
          in: query
          description: Skips the first n results.
          schema:
            type: integer
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientListItemPage'
              example:
                value:
                  - ID: 00000000-0000-0000-0000-000000000000
                    Number: 0
                    ClientName: string
                    LegalName: string
                    RFC: string
                    Email: string
                    Phone: string
                    NextContactDate: string
                    LocationID: 00000000-0000-0000-0000-000000000000
                nextLink: string
                count: 0
            text/json:
              schema:
                $ref: '#/components/schemas/ClientListItemPage'
              example:
                value:
                  - ID: 00000000-0000-0000-0000-000000000000
                    Number: 0
                    ClientName: string
                    LegalName: string
                    RFC: string
                    Email: string
                    Phone: string
                    NextContactDate: string
                    LocationID: 00000000-0000-0000-0000-000000000000
                nextLink: string
                count: 0
    put:
      tags:
        - Clients
      summary: Editar Cliente
      description: Editar Cliente
      operationId: Clients_EditClient
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EditClient'
            example:
              ID: 00000000-0000-0000-0000-000000000000
              LegalName: string
              CommercialName: string
              RFC: string
              CreditDays: 0
              CreditAmount: 0
              PriceListID: 00000000-0000-0000-0000-000000000000
              AccountingNumber: string
              PaymentMethod: 0
              PaymentTerm: 0
              LocationID: 00000000-0000-0000-0000-000000000000
              SalesEmployeeID: 00000000-0000-0000-0000-000000000000
              CreditEmployeeID: 00000000-0000-0000-0000-000000000000
              Comment: string
              Telephone: string
              Email: string
              AccountNumber: string
              DefaultDiscount: 0
              Source: string
          text/json:
            schema:
              $ref: '#/components/schemas/EditClient'
            example:
              ID: 00000000-0000-0000-0000-000000000000
              LegalName: string
              CommercialName: string
              RFC: string
              CreditDays: 0
              CreditAmount: 0
              PriceListID: 00000000-0000-0000-0000-000000000000
              AccountingNumber: string
              PaymentMethod: 0
              PaymentTerm: 0
              LocationID: 00000000-0000-0000-0000-000000000000
              SalesEmployeeID: 00000000-0000-0000-0000-000000000000
              CreditEmployeeID: 00000000-0000-0000-0000-000000000000
              Comment: string
              Telephone: string
              Email: string
              AccountNumber: string
              DefaultDiscount: 0
              Source: string
          application/xml:
            schema:
              $ref: '#/components/schemas/EditClient'
            example:
              ID: 00000000-0000-0000-0000-000000000000
              LegalName: string
              CommercialName: string
              RFC: string
              CreditDays: 0
              CreditAmount: 0
              PriceListID: 00000000-0000-0000-0000-000000000000
              AccountingNumber: string
              PaymentMethod: 0
              PaymentTerm: 0
              LocationID: 00000000-0000-0000-0000-000000000000
              SalesEmployeeID: 00000000-0000-0000-0000-000000000000
              CreditEmployeeID: 00000000-0000-0000-0000-000000000000
              Comment: string
              Telephone: string
              Email: string
              AccountNumber: string
              DefaultDiscount: 0
              Source: string
          text/xml:
            schema:
              $ref: '#/components/schemas/EditClient'
            example:
              ID: 00000000-0000-0000-0000-000000000000
              LegalName: string
              CommercialName: string
              RFC: string
              CreditDays: 0
              CreditAmount: 0
              PriceListID: 00000000-0000-0000-0000-000000000000
              AccountingNumber: string
              PaymentMethod: 0
              PaymentTerm: 0
              LocationID: 00000000-0000-0000-0000-000000000000
              SalesEmployeeID: 00000000-0000-0000-0000-000000000000
              CreditEmployeeID: 00000000-0000-0000-0000-000000000000
              Comment: string
              Telephone: string
              Email: string
              AccountNumber: string
              DefaultDiscount: 0
              Source: string
          application/x-www-form-urlencoded: { }
      responses:
        '204':
          description: No Content
    post:
      tags:
        - Clients
      summary: Agregar Cliente
      description: Agregar Cliente
      operationId: Clients_AddClient
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NewClient'
            example:
              LegalName: string
              CommercialName: string
              RFC: string
              CreditDays: 0
              CreditAmount: 0
              PriceListID: 00000000-0000-0000-0000-000000000000
              AccountingNumber: string
              Address:
                StreetName: string
                InteriorNumber: string
                ExteriorNumber: string
                Colonia: string
                Comments: string
                ZipCode: string
                Localidad: string
                City: string
                State: string
              Email: string
              PaymentMethod: 0
              PaymentTerm: 0
              LocationID: 00000000-0000-0000-0000-000000000000
              SalesEmployeeID: 00000000-0000-0000-0000-000000000000
              CreditEmployeeID: 00000000-0000-0000-0000-000000000000
              Comment: string
              Telephone: string
              AccountNumber: string
              DefaultDiscount: 0
              Source: string
          text/json:
            schema:
              $ref: '#/components/schemas/NewClient'
            example:
              LegalName: string
              CommercialName: string
              RFC: string
              CreditDays: 0
              CreditAmount: 0
              PriceListID: 00000000-0000-0000-0000-000000000000
              AccountingNumber: string
              Address:
                StreetName: string
                InteriorNumber: string
                ExteriorNumber: string
                Colonia: string
                Comments: string
                ZipCode: string
                Localidad: string
                City: string
                State: string
              Email: string
              PaymentMethod: 0
              PaymentTerm: 0
              LocationID: 00000000-0000-0000-0000-000000000000
              SalesEmployeeID: 00000000-0000-0000-0000-000000000000
              CreditEmployeeID: 00000000-0000-0000-0000-000000000000
              Comment: string
              Telephone: string
              AccountNumber: string
              DefaultDiscount: 0
              Source: string
          application/xml:
            schema:
              $ref: '#/components/schemas/NewClient'
            example:
              LegalName: string
              CommercialName: string
              RFC: string
              CreditDays: 0
              CreditAmount: 0
              PriceListID: 00000000-0000-0000-0000-000000000000
              AccountingNumber: string
              Address:
                StreetName: string
                InteriorNumber: string
                ExteriorNumber: string
                Colonia: string
                Comments: string
                ZipCode: string
                Localidad: string
                City: string
                State: string
              Email: string
              PaymentMethod: 0
              PaymentTerm: 0
              LocationID: 00000000-0000-0000-0000-000000000000
              SalesEmployeeID: 00000000-0000-0000-0000-000000000000
              CreditEmployeeID: 00000000-0000-0000-0000-000000000000
              Comment: string
              Telephone: string
              AccountNumber: string
              DefaultDiscount: 0
              Source: string
          text/xml:
            schema:
              $ref: '#/components/schemas/NewClient'
            example:
              LegalName: string
              CommercialName: string
              RFC: string
              CreditDays: 0
              CreditAmount: 0
              PriceListID: 00000000-0000-0000-0000-000000000000
              AccountingNumber: string
              Address:
                StreetName: string
                InteriorNumber: string
                ExteriorNumber: string
                Colonia: string
                Comments: string
                ZipCode: string
                Localidad: string
                City: string
                State: string
              Email: string
              PaymentMethod: 0
              PaymentTerm: 0
              LocationID: 00000000-0000-0000-0000-000000000000
              SalesEmployeeID: 00000000-0000-0000-0000-000000000000
              CreditEmployeeID: 00000000-0000-0000-0000-000000000000
              Comment: string
              Telephone: string
              AccountNumber: string
              DefaultDiscount: 0
              Source: string
          application/x-www-form-urlencoded: { }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiClientsPost200TextXmlResponse'
              example: 00000000-0000-0000-0000-000000000000
            text/json:
              schema:
                $ref: '#/components/schemas/ApiClientsPost200TextXmlResponse'
              example: 00000000-0000-0000-0000-000000000000
            application/xml:
              schema:
                $ref: '#/components/schemas/ApiClientsPost200TextXmlResponse'
              example: 00000000-0000-0000-0000-000000000000
            text/xml:
              schema:
                $ref: '#/components/schemas/ApiClientsPost200TextXmlResponse'
              example: 00000000-0000-0000-0000-000000000000
  '/api/Clients/{id}':
    get:
      tags:
        - Clients
      summary: Obtiene los detalles de un cliente.
      description: Obtiene los detalles de un cliente.
      operationId: Clients_GetDetails
      parameters:
        - name: id
          in: path
          description: Format - uuid. Format - uuid.
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientDetails'
              example:
                ID: 00000000-0000-0000-0000-000000000000
                RFC: string
                LegalName: string
                CommercialName: string
                CreditDays: 0
                CreditAmount: 0
                PaymentMethod: string
                CreationDate: string
                Status: string
                SalesContact: string
                CreditContact: string
                Loctaion: string
                LoctaionID: 00000000-0000-0000-0000-000000000000
                Comments: string
                PriceList: string
                PriceListID: 00000000-0000-0000-0000-000000000000
                PaymentTermType: string
                Email: string
                Telephones: string
                Number: 0
                AccountNumber: string
                DefaultDiscount: 0
                ClientSource: string
                Account: string
                City: string
                State: string
                Addresses:
                  - 00000000-0000-0000-0000-000000000000
            text/json:
              schema:
                $ref: '#/components/schemas/ClientDetails'
              example:
                ID: 00000000-0000-0000-0000-000000000000
                RFC: string
                LegalName: string
                CommercialName: string
                CreditDays: 0
                CreditAmount: 0
                PaymentMethod: string
                CreationDate: string
                Status: string
                SalesContact: string
                CreditContact: string
                Loctaion: string
                LoctaionID: 00000000-0000-0000-0000-000000000000
                Comments: string
                PriceList: string
                PriceListID: 00000000-0000-0000-0000-000000000000
                PaymentTermType: string
                Email: string
                Telephones: string
                Number: 0
                AccountNumber: string
                DefaultDiscount: 0
                ClientSource: string
                Account: string
                City: string
                State: string
                Addresses:
                  - 00000000-0000-0000-0000-000000000000
            application/xml:
              schema:
                $ref: '#/components/schemas/ClientDetails'
              example: <ClientDetails> <ID>00000000-0000-0000-0000-000000000000</ID> <RFC>string</RFC> <LegalName>string</LegalName> <CommercialName>string</CommercialName> <CreditDays>0</CreditDays> <CreditAmount>0</CreditAmount> <PaymentMethod>string</PaymentMethod> <CreationDate>string</CreationDate> <Status>string</Status> <SalesContact>string</SalesContact> <CreditContact>string</CreditContact> <Loctaion>string</Loctaion> <LoctaionID>00000000-0000-0000-0000-000000000000</LoctaionID> <Comments>string</Comments> <PriceList>string</PriceList> <PriceListID>00000000-0000-0000-0000-000000000000</PriceListID> <PaymentTermType>string</PaymentTermType> <Email>string</Email> <Telephones>string</Telephones> <Number>0</Number> <AccountNumber>string</AccountNumber> <DefaultDiscount>0</DefaultDiscount> <ClientSource>string</ClientSource> <Account>string</Account> <City>string</City> <State>string</State> <Addresses>00000000-0000-0000-0000-000000000000</Addresses> </ClientDetails>
            text/xml:
              schema:
                $ref: '#/components/schemas/ClientDetails'
              example: <ClientDetails> <ID>00000000-0000-0000-0000-000000000000</ID> <RFC>string</RFC> <LegalName>string</LegalName> <CommercialName>string</CommercialName> <CreditDays>0</CreditDays> <CreditAmount>0</CreditAmount> <PaymentMethod>string</PaymentMethod> <CreationDate>string</CreationDate> <Status>string</Status> <SalesContact>string</SalesContact> <CreditContact>string</CreditContact> <Loctaion>string</Loctaion> <LoctaionID>00000000-0000-0000-0000-000000000000</LoctaionID> <Comments>string</Comments> <PriceList>string</PriceList> <PriceListID>00000000-0000-0000-0000-000000000000</PriceListID> <PaymentTermType>string</PaymentTermType> <Email>string</Email> <Telephones>string</Telephones> <Number>0</Number> <AccountNumber>string</AccountNumber> <DefaultDiscount>0</DefaultDiscount> <ClientSource>string</ClientSource> <Account>string</Account> <City>string</City> <State>string</State> <Addresses>00000000-0000-0000-0000-000000000000</Addresses> </ClientDetails>
    delete:
      tags:
        - Clients
      summary: Borrar Cliente
      description: Borrar Cliente
      operationId: Clients_DeleteByID
      parameters:
        - name: id
          in: path
          description: Format - uuid. Format - uuid.
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '204':
          description: No Content
  /api/Comments:
    get:
      tags:
        - Comments
      summary: Listar comentarios por external ID
      description: Listar comentarios por external ID
      operationId: Comments_Get
      parameters:
        - name: $filter
          in: query
          description: 'Filters the results, based on a Boolean condition.'
          schema:
            type: string
        - name: $orderby
          in: query
          description: Sorts the results.
          schema:
            type: string
        - name: $top
          in: query
          description: Returns only the first n results.
          schema:
            type: integer
        - name: $skip
          in: query
          description: Skips the first n results.
          schema:
            type: integer
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommentPage'
              example:
                value:
                  - ID: 00000000-0000-0000-0000-000000000000
                    ExternalID: 00000000-0000-0000-0000-000000000000
                    Comments: string
                    CreationDate: string
                    EmployeeName: string
                nextLink: string
                count: 0
            text/json:
              schema:
                $ref: '#/components/schemas/CommentPage'
              example:
                value:
                  - ID: 00000000-0000-0000-0000-000000000000
                    ExternalID: 00000000-0000-0000-0000-000000000000
                    Comments: string
                    CreationDate: string
                    EmployeeName: string
                nextLink: string
                count: 0
    post:
      tags:
        - Comments
      summary: Agregar comentario
      description: Agregar comentario
      operationId: Comments_AddComment
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NewComment'
            example:
              ExternalID: 00000000-0000-0000-0000-000000000000
              Comment: string
          text/json:
            schema:
              $ref: '#/components/schemas/NewComment'
            example:
              ExternalID: 00000000-0000-0000-0000-000000000000
              Comment: string
          application/xml:
            schema:
              $ref: '#/components/schemas/NewComment'
            example:
              ExternalID: 00000000-0000-0000-0000-000000000000
              Comment: string
          text/xml:
            schema:
              $ref: '#/components/schemas/NewComment'
            example:
              ExternalID: 00000000-0000-0000-0000-000000000000
              Comment: string
          application/x-www-form-urlencoded: { }
      responses:
        '204':
          description: No Content
  /api/CreditNotes:
    post:
      tags:
        - CreditNotes
      summary: Agregar Nota de Crédito
      description: Agregar Nota de Crédito
      operationId: CreditNotes_AddCreditNote
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NewCreditNote'
            example:
              Amount: 0
              BankAccount: string
              Comments: string
              Concept: string
              Unit: string
              CreditNotesItems:
                - ID: 00000000-0000-0000-0000-000000000000
                  Qty: 0
              IEPSAmount: 0
              InvoiceID: 00000000-0000-0000-0000-000000000000
              ISRRet: 0
              PaymentMethod: 0
              PaymentTerms: 0
              SeriesID: 00000000-0000-0000-0000-000000000000
              Type: 0
              VAT: 0
              VATRet: 0
          text/json:
            schema:
              $ref: '#/components/schemas/NewCreditNote'
            example:
              Amount: 0
              BankAccount: string
              Comments: string
              Concept: string
              Unit: string
              CreditNotesItems:
                - ID: 00000000-0000-0000-0000-000000000000
                  Qty: 0
              IEPSAmount: 0
              InvoiceID: 00000000-0000-0000-0000-000000000000
              ISRRet: 0
              PaymentMethod: 0
              PaymentTerms: 0
              SeriesID: 00000000-0000-0000-0000-000000000000
              Type: 0
              VAT: 0
              VATRet: 0
          application/xml:
            schema:
              $ref: '#/components/schemas/NewCreditNote'
            example:
              Amount: 0
              BankAccount: string
              Comments: string
              Concept: string
              Unit: string
              CreditNotesItems:
                - ID: 00000000-0000-0000-0000-000000000000
                  Qty: 0
              IEPSAmount: 0
              InvoiceID: 00000000-0000-0000-0000-000000000000
              ISRRet: 0
              PaymentMethod: 0
              PaymentTerms: 0
              SeriesID: 00000000-0000-0000-0000-000000000000
              Type: 0
              VAT: 0
              VATRet: 0
          text/xml:
            schema:
              $ref: '#/components/schemas/NewCreditNote'
            example:
              Amount: 0
              BankAccount: string
              Comments: string
              Concept: string
              Unit: string
              CreditNotesItems:
                - ID: 00000000-0000-0000-0000-000000000000
                  Qty: 0
              IEPSAmount: 0
              InvoiceID: 00000000-0000-0000-0000-000000000000
              ISRRet: 0
              PaymentMethod: 0
              PaymentTerms: 0
              SeriesID: 00000000-0000-0000-0000-000000000000
              Type: 0
              VAT: 0
              VATRet: 0
          application/x-www-form-urlencoded: { }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiCreditNotesPost200TextXmlResponse'
              example: 00000000-0000-0000-0000-000000000000
            text/json:
              schema:
                $ref: '#/components/schemas/ApiCreditNotesPost200TextXmlResponse'
              example: 00000000-0000-0000-0000-000000000000
            application/xml:
              schema:
                $ref: '#/components/schemas/ApiCreditNotesPost200TextXmlResponse'
              example: 00000000-0000-0000-0000-000000000000
            text/xml:
              schema:
                $ref: '#/components/schemas/ApiCreditNotesPost200TextXmlResponse'
              example: 00000000-0000-0000-0000-000000000000
  '/api/Expenses/Payment/{expenseID}':
    get:
      tags:
        - Expenses
      summary: Obtener pagos de una orden de gasto.
      description: Obtener pagos de una orden de gasto.
      operationId: Expenses_GetPayment
      parameters:
        - name: expenseID
          in: path
          description: Format - uuid. Format - uuid.
          required: true
          schema:
            type: string
            format: uuid
        - name: $filter
          in: query
          description: 'Filters the results, based on a Boolean condition.'
          schema:
            type: string
        - name: $orderby
          in: query
          description: Sorts the results.
          schema:
            type: string
        - name: $top
          in: query
          description: Returns only the first n results.
          schema:
            type: integer
        - name: $skip
          in: query
          description: Skips the first n results.
          schema:
            type: integer
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentListItemPage'
              example:
                value:
                  - AccountMovementID: 00000000-0000-0000-0000-000000000000
                    AccountMovementNumber: 0
                    ApplicationDate: string
                    Comments: string
                    Employee: string
                    ExchangeRate: 0
                    ExternalID: 00000000-0000-0000-0000-000000000000
                    HasCancellationXML: true
                    ID: 00000000-0000-0000-0000-000000000000
                    StatusCode: 0
                    Account: string
                    Amount: 0
                    HasAccountingOperation: true
                    StatusText: string
                nextLink: string
                count: 0
            text/json:
              schema:
                $ref: '#/components/schemas/PaymentListItemPage'
              example:
                value:
                  - AccountMovementID: 00000000-0000-0000-0000-000000000000
                    AccountMovementNumber: 0
                    ApplicationDate: string
                    Comments: string
                    Employee: string
                    ExchangeRate: 0
                    ExternalID: 00000000-0000-0000-0000-000000000000
                    HasCancellationXML: true
                    ID: 00000000-0000-0000-0000-000000000000
                    StatusCode: 0
                    Account: string
                    Amount: 0
                    HasAccountingOperation: true
                    StatusText: string
                nextLink: string
                count: 0
  '/api/Expenses/{id}':
    get:
      tags:
        - Expenses
      summary: Obtiene los detalles de una orden de gasto.
      description: Obtiene los detalles de una orden de gasto.
      operationId: Expenses_GetDetail
      parameters:
        - name: id
          in: path
          description: Format - uuid. Format - uuid.
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExpenseDetails'
              example:
                ID: 00000000-0000-0000-0000-000000000000
                ProviderID: 00000000-0000-0000-0000-000000000000
                ProviderName: string
                Status: string
                StatusCode: 0
                CreationDate: string
                CreditDays: 0
                LocationID: 00000000-0000-0000-0000-000000000000
                ClientID: 00000000-0000-0000-0000-000000000000
                DepartmentID: 00000000-0000-0000-0000-000000000000
                DocumentType: 0
                DocumentNumber: string
                Comments: string
                VAT: 0
                InvoiceID: 00000000-0000-0000-0000-000000000000
                CurrencyID: 00000000-0000-0000-0000-000000000000
                ExchangeRate: 0
                UUID: string
                Series: string
                VATRetention: 0
                ISRRetention: 0
                IEPS: 0
                Discount: 0
                FiscalID: 00000000-0000-0000-0000-000000000000
                ISRRetType: 0
                RFC: string
                ExpensePurchaseOrderItems:
                  - ID: 00000000-0000-0000-0000-000000000000
                    Qty: 0
                    Cost: 0
                    TypeID: 00000000-0000-0000-0000-000000000000
                    Name: string
                    ExpensePurchaseOrderID: 00000000-0000-0000-0000-000000000000
                    IndexItem: 0
                    SATCompanyAccountID: 00000000-0000-0000-0000-000000000000
                DocumentTypeText: string
                CurrencyName: string
                ClientName: string
                LocationName: string
            text/json:
              schema:
                $ref: '#/components/schemas/ExpenseDetails'
              example:
                ID: 00000000-0000-0000-0000-000000000000
                ProviderID: 00000000-0000-0000-0000-000000000000
                ProviderName: string
                Status: string
                StatusCode: 0
                CreationDate: string
                CreditDays: 0
                LocationID: 00000000-0000-0000-0000-000000000000
                ClientID: 00000000-0000-0000-0000-000000000000
                DepartmentID: 00000000-0000-0000-0000-000000000000
                DocumentType: 0
                DocumentNumber: string
                Comments: string
                VAT: 0
                InvoiceID: 00000000-0000-0000-0000-000000000000
                CurrencyID: 00000000-0000-0000-0000-000000000000
                ExchangeRate: 0
                UUID: string
                Series: string
                VATRetention: 0
                ISRRetention: 0
                IEPS: 0
                Discount: 0
                FiscalID: 00000000-0000-0000-0000-000000000000
                ISRRetType: 0
                RFC: string
                ExpensePurchaseOrderItems:
                  - ID: 00000000-0000-0000-0000-000000000000
                    Qty: 0
                    Cost: 0
                    TypeID: 00000000-0000-0000-0000-000000000000
                    Name: string
                    ExpensePurchaseOrderID: 00000000-0000-0000-0000-000000000000
                    IndexItem: 0
                    SATCompanyAccountID: 00000000-0000-0000-0000-000000000000
                DocumentTypeText: string
                CurrencyName: string
                ClientName: string
                LocationName: string
            application/xml:
              schema:
                $ref: '#/components/schemas/ExpenseDetails'
              example: <ExpenseDetails> <ID>00000000-0000-0000-0000-000000000000</ID> <ProviderID>00000000-0000-0000-0000-000000000000</ProviderID> <ProviderName>string</ProviderName> <Status>string</Status> <StatusCode>0</StatusCode> <CreationDate>string</CreationDate> <CreditDays>0</CreditDays> <LocationID>00000000-0000-0000-0000-000000000000</LocationID> <ClientID>00000000-0000-0000-0000-000000000000</ClientID> <DepartmentID>00000000-0000-0000-0000-000000000000</DepartmentID> <DocumentType>0</DocumentType> <DocumentNumber>string</DocumentNumber> <Comments>string</Comments> <VAT>0</VAT> <InvoiceID>00000000-0000-0000-0000-000000000000</InvoiceID> <CurrencyID>00000000-0000-0000-0000-000000000000</CurrencyID> <ExchangeRate>0</ExchangeRate> <UUID>string</UUID> <Series>string</Series> <VATRetention>0</VATRetention> <ISRRetention>0</ISRRetention> <IEPS>0</IEPS> <Discount>0</Discount> <FiscalID>00000000-0000-0000-0000-000000000000</FiscalID> <ISRRetType>0</ISRRetType> <RFC>string</RFC> <ExpensePurchaseOrderItems> <ID>00000000-0000-0000-0000-000000000000</ID> <Qty>0</Qty> <Cost>0</Cost> <TypeID>00000000-0000-0000-0000-000000000000</TypeID> <Name>string</Name> <ExpensePurchaseOrderID>00000000-0000-0000-0000-000000000000</ExpensePurchaseOrderID> <IndexItem>0</IndexItem> <SATCompanyAccountID>00000000-0000-0000-0000-000000000000</SATCompanyAccountID> </ExpensePurchaseOrderItems> <DocumentTypeText>string</DocumentTypeText> <CurrencyName>string</CurrencyName> <ClientName>string</ClientName> <LocationName>string</LocationName> </ExpenseDetails>
            text/xml:
              schema:
                $ref: '#/components/schemas/ExpenseDetails'
              example: <ExpenseDetails> <ID>00000000-0000-0000-0000-000000000000</ID> <ProviderID>00000000-0000-0000-0000-000000000000</ProviderID> <ProviderName>string</ProviderName> <Status>string</Status> <StatusCode>0</StatusCode> <CreationDate>string</CreationDate> <CreditDays>0</CreditDays> <LocationID>00000000-0000-0000-0000-000000000000</LocationID> <ClientID>00000000-0000-0000-0000-000000000000</ClientID> <DepartmentID>00000000-0000-0000-0000-000000000000</DepartmentID> <DocumentType>0</DocumentType> <DocumentNumber>string</DocumentNumber> <Comments>string</Comments> <VAT>0</VAT> <InvoiceID>00000000-0000-0000-0000-000000000000</InvoiceID> <CurrencyID>00000000-0000-0000-0000-000000000000</CurrencyID> <ExchangeRate>0</ExchangeRate> <UUID>string</UUID> <Series>string</Series> <VATRetention>0</VATRetention> <ISRRetention>0</ISRRetention> <IEPS>0</IEPS> <Discount>0</Discount> <FiscalID>00000000-0000-0000-0000-000000000000</FiscalID> <ISRRetType>0</ISRRetType> <RFC>string</RFC> <ExpensePurchaseOrderItems> <ID>00000000-0000-0000-0000-000000000000</ID> <Qty>0</Qty> <Cost>0</Cost> <TypeID>00000000-0000-0000-0000-000000000000</TypeID> <Name>string</Name> <ExpensePurchaseOrderID>00000000-0000-0000-0000-000000000000</ExpensePurchaseOrderID> <IndexItem>0</IndexItem> <SATCompanyAccountID>00000000-0000-0000-0000-000000000000</SATCompanyAccountID> </ExpensePurchaseOrderItems> <DocumentTypeText>string</DocumentTypeText> <CurrencyName>string</CurrencyName> <ClientName>string</ClientName> <LocationName>string</LocationName> </ExpenseDetails>
  /api/Formulas:
    get:
      tags:
        - Formulas
      summary: Obtiene la lista de productos.
      description: El filtro es opcional
      operationId: Formulas_Get
      parameters:
        - name: $filter
          in: query
          description: 'Filters the results, based on a Boolean condition.'
          schema:
            type: string
        - name: $orderby
          in: query
          description: Sorts the results.
          schema:
            type: string
        - name: $top
          in: query
          description: Returns only the first n results.
          schema:
            type: integer
        - name: $skip
          in: query
          description: Skips the first n results.
          schema:
            type: integer
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FormulaPage'
              example:
                value:
                  - ID: 00000000-0000-0000-0000-000000000000
                    Title: string
                    ProductID: 00000000-0000-0000-0000-000000000000
                    ProductTitle: string
                    Qty: 0
                    AdditionalCosts: 0
                nextLink: string
                count: 0
            text/json:
              schema:
                $ref: '#/components/schemas/FormulaPage'
              example:
                value:
                  - ID: 00000000-0000-0000-0000-000000000000
                    Title: string
                    ProductID: 00000000-0000-0000-0000-000000000000
                    ProductTitle: string
                    Qty: 0
                    AdditionalCosts: 0
                nextLink: string
                count: 0
    put:
      tags:
        - Formulas
      summary: Formulas_UpdateFormula
      description: Formulas_UpdateFormula
      operationId: Formulas_UpdateFormula
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EditFormula'
            example:
              ID: 00000000-0000-0000-0000-000000000000
              Title: string
              Qty: 0
              Comments: string
              Items:
                - ProductID: 00000000-0000-0000-0000-000000000000
                  Qty: 0
                  IndexNumber: 0
                  Comment: string
              AdditionalCost: 0
          text/json:
            schema:
              $ref: '#/components/schemas/EditFormula'
            example:
              ID: 00000000-0000-0000-0000-000000000000
              Title: string
              Qty: 0
              Comments: string
              Items:
                - ProductID: 00000000-0000-0000-0000-000000000000
                  Qty: 0
                  IndexNumber: 0
                  Comment: string
              AdditionalCost: 0
          application/xml:
            schema:
              $ref: '#/components/schemas/EditFormula'
            example:
              ID: 00000000-0000-0000-0000-000000000000
              Title: string
              Qty: 0
              Comments: string
              Items:
                - ProductID: 00000000-0000-0000-0000-000000000000
                  Qty: 0
                  IndexNumber: 0
                  Comment: string
              AdditionalCost: 0
          text/xml:
            schema:
              $ref: '#/components/schemas/EditFormula'
            example:
              ID: 00000000-0000-0000-0000-000000000000
              Title: string
              Qty: 0
              Comments: string
              Items:
                - ProductID: 00000000-0000-0000-0000-000000000000
                  Qty: 0
                  IndexNumber: 0
                  Comment: string
              AdditionalCost: 0
          application/x-www-form-urlencoded: { }
      responses:
        '204':
          description: No Content
    post:
      tags:
        - Formulas
      summary: Formulas_AddFormula
      description: Formulas_AddFormula
      operationId: Formulas_AddFormula
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddFormula'
            example:
              Title: string
              Qty: 0
              ProductID: 00000000-0000-0000-0000-000000000000
              Comments: string
              Items:
                - ProductID: 00000000-0000-0000-0000-000000000000
                  Qty: 0
                  IndexNumber: 0
                  Comment: string
              AdditionalCost: 0
          text/json:
            schema:
              $ref: '#/components/schemas/AddFormula'
            example:
              Title: string
              Qty: 0
              ProductID: 00000000-0000-0000-0000-000000000000
              Comments: string
              Items:
                - ProductID: 00000000-0000-0000-0000-000000000000
                  Qty: 0
                  IndexNumber: 0
                  Comment: string
              AdditionalCost: 0
          application/xml:
            schema:
              $ref: '#/components/schemas/AddFormula'
            example:
              Title: string
              Qty: 0
              ProductID: 00000000-0000-0000-0000-000000000000
              Comments: string
              Items:
                - ProductID: 00000000-0000-0000-0000-000000000000
                  Qty: 0
                  IndexNumber: 0
                  Comment: string
              AdditionalCost: 0
          text/xml:
            schema:
              $ref: '#/components/schemas/AddFormula'
            example:
              Title: string
              Qty: 0
              ProductID: 00000000-0000-0000-0000-000000000000
              Comments: string
              Items:
                - ProductID: 00000000-0000-0000-0000-000000000000
                  Qty: 0
                  IndexNumber: 0
                  Comment: string
              AdditionalCost: 0
          application/x-www-form-urlencoded: { }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiFormulasPost200TextXmlResponse'
              example: 00000000-0000-0000-0000-000000000000
            text/json:
              schema:
                $ref: '#/components/schemas/ApiFormulasPost200TextXmlResponse'
              example: 00000000-0000-0000-0000-000000000000
            application/xml:
              schema:
                $ref: '#/components/schemas/ApiFormulasPost200TextXmlResponse'
              example: 00000000-0000-0000-0000-000000000000
            text/xml:
              schema:
                $ref: '#/components/schemas/ApiFormulasPost200TextXmlResponse'
              example: 00000000-0000-0000-0000-000000000000
  '/api/Formulas/{id}':
    get:
      tags:
        - Formulas
      summary: Formulas_GetFormulaDetailByID
      description: Formulas_GetFormulaDetailByID
      operationId: Formulas_GetFormulaDetailByID
      parameters:
        - name: id
          in: path
          description: Format - uuid. Format - uuid.
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FormulaDetails'
              example:
                ID: 00000000-0000-0000-0000-000000000000
                CreationDate: string
                ProductID: 00000000-0000-0000-0000-000000000000
                ProductCode: string
                ProductTitle: string
                ProductUnit: string
                Comments: string
                AdditionalCosts: 0
                EmployeeID: 00000000-0000-0000-0000-000000000000
                EmployeerName: string
                Qty: 0
                StatusCode: 0
                Status: string
                Title: string
                ProductionFormulaItems:
                  - ID: 00000000-0000-0000-0000-000000000000
                    ProductID: 00000000-0000-0000-0000-000000000000
                    Qty: 0
                    IndexNumber: 0
                    Comments: string
                    Code: string
                    Title: string
            text/json:
              schema:
                $ref: '#/components/schemas/FormulaDetails'
              example:
                ID: 00000000-0000-0000-0000-000000000000
                CreationDate: string
                ProductID: 00000000-0000-0000-0000-000000000000
                ProductCode: string
                ProductTitle: string
                ProductUnit: string
                Comments: string
                AdditionalCosts: 0
                EmployeeID: 00000000-0000-0000-0000-000000000000
                EmployeerName: string
                Qty: 0
                StatusCode: 0
                Status: string
                Title: string
                ProductionFormulaItems:
                  - ID: 00000000-0000-0000-0000-000000000000
                    ProductID: 00000000-0000-0000-0000-000000000000
                    Qty: 0
                    IndexNumber: 0
                    Comments: string
                    Code: string
                    Title: string
            application/xml:
              schema:
                $ref: '#/components/schemas/FormulaDetails'
              example: <FormulaDetails> <ID>00000000-0000-0000-0000-000000000000</ID> <CreationDate>string</CreationDate> <ProductID>00000000-0000-0000-0000-000000000000</ProductID> <ProductCode>string</ProductCode> <ProductTitle>string</ProductTitle> <ProductUnit>string</ProductUnit> <Comments>string</Comments> <AdditionalCosts>0</AdditionalCosts> <EmployeeID>00000000-0000-0000-0000-000000000000</EmployeeID> <EmployeerName>string</EmployeerName> <Qty>0</Qty> <StatusCode>0</StatusCode> <Status>string</Status> <Title>string</Title> <ProductionFormulaItems> <ID>00000000-0000-0000-0000-000000000000</ID> <ProductID>00000000-0000-0000-0000-000000000000</ProductID> <Qty>0</Qty> <IndexNumber>0</IndexNumber> <Comments>string</Comments> <Code>string</Code> <Title>string</Title> </ProductionFormulaItems> </FormulaDetails>
            text/xml:
              schema:
                $ref: '#/components/schemas/FormulaDetails'
              example: <FormulaDetails> <ID>00000000-0000-0000-0000-000000000000</ID> <CreationDate>string</CreationDate> <ProductID>00000000-0000-0000-0000-000000000000</ProductID> <ProductCode>string</ProductCode> <ProductTitle>string</ProductTitle> <ProductUnit>string</ProductUnit> <Comments>string</Comments> <AdditionalCosts>0</AdditionalCosts> <EmployeeID>00000000-0000-0000-0000-000000000000</EmployeeID> <EmployeerName>string</EmployeerName> <Qty>0</Qty> <StatusCode>0</StatusCode> <Status>string</Status> <Title>string</Title> <ProductionFormulaItems> <ID>00000000-0000-0000-0000-000000000000</ID> <ProductID>00000000-0000-0000-0000-000000000000</ProductID> <Qty>0</Qty> <IndexNumber>0</IndexNumber> <Comments>string</Comments> <Code>string</Code> <Title>string</Title> </ProductionFormulaItems> </FormulaDetails>
    delete:
      tags:
        - Formulas
      summary: Formulas_DeleteFormula
      description: Formulas_DeleteFormula
      operationId: Formulas_DeleteFormula
      parameters:
        - name: id
          in: path
          description: Format - uuid. Format - uuid.
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '204':
          description: No Content
  /api/Inventory:
    get:
      tags:
        - Inventory
      summary: Obtener inventario por almacén.
      description: Obtener inventario por almacén.
      operationId: Inventory_GetInventoryByWarehouseID
      parameters:
        - name: warehouseID
          in: query
          description: Format - uuid. Format - uuid.
          required: true
          schema:
            type: string
            format: uuid
        - name: $filter
          in: query
          description: 'Filters the results, based on a Boolean condition.'
          schema:
            type: string
        - name: $orderby
          in: query
          description: Sorts the results.
          schema:
            type: string
        - name: $top
          in: query
          description: Returns only the first n results.
          schema:
            type: integer
        - name: $skip
          in: query
          description: Skips the first n results.
          schema:
            type: integer
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InventorytPage'
              example:
                value:
                  - Balance: 0
                    ClientOrdered: 0
                    CurrentInventory: 0
                    ID: 00000000-0000-0000-0000-000000000000
                    Location: string
                    ProvidedOrdered: 0
                    SKU: string
                    Title: string
                    Value: 0
                    Code: string
                    ProductID: 00000000-0000-0000-0000-000000000000
                    Visible: true
                nextLink: string
                count: 0
            text/json:
              schema:
                $ref: '#/components/schemas/InventorytPage'
              example:
                value:
                  - Balance: 0
                    ClientOrdered: 0
                    CurrentInventory: 0
                    ID: 00000000-0000-0000-0000-000000000000
                    Location: string
                    ProvidedOrdered: 0
                    SKU: string
                    Title: string
                    Value: 0
                    Code: string
                    ProductID: 00000000-0000-0000-0000-000000000000
                    Visible: true
                nextLink: string
                count: 0
    post:
      tags:
        - Inventory
      summary: Agregar ajuste de inventario.
      description: Agregar ajuste de inventario.
      operationId: Inventory_AddInventoryAdjustment
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NewInventoryAdjustment'
            example:
              ProductID: 00000000-0000-0000-0000-000000000000
              WarehouseID: 00000000-0000-0000-0000-000000000000
              AdjustQty: 0
              Date: string
              Comments: string
              LotImportID: 00000000-0000-0000-0000-000000000000
              AccountingAccountID: 00000000-0000-0000-0000-000000000000
          text/json:
            schema:
              $ref: '#/components/schemas/NewInventoryAdjustment'
            example:
              ProductID: 00000000-0000-0000-0000-000000000000
              WarehouseID: 00000000-0000-0000-0000-000000000000
              AdjustQty: 0
              Date: string
              Comments: string
              LotImportID: 00000000-0000-0000-0000-000000000000
              AccountingAccountID: 00000000-0000-0000-0000-000000000000
          application/xml:
            schema:
              $ref: '#/components/schemas/NewInventoryAdjustment'
            example:
              ProductID: 00000000-0000-0000-0000-000000000000
              WarehouseID: 00000000-0000-0000-0000-000000000000
              AdjustQty: 0
              Date: string
              Comments: string
              LotImportID: 00000000-0000-0000-0000-000000000000
              AccountingAccountID: 00000000-0000-0000-0000-000000000000
          text/xml:
            schema:
              $ref: '#/components/schemas/NewInventoryAdjustment'
            example:
              ProductID: 00000000-0000-0000-0000-000000000000
              WarehouseID: 00000000-0000-0000-0000-000000000000
              AdjustQty: 0
              Date: string
              Comments: string
              LotImportID: 00000000-0000-0000-0000-000000000000
              AccountingAccountID: 00000000-0000-0000-0000-000000000000
          application/x-www-form-urlencoded: { }
      responses:
        '204':
          description: No Content
  '/api/Invoices/{idOrNumber}':
    get:
      tags:
        - Invoices
      summary: Obtiene los detalles de una venta por número
      description: Obtiene los detalles de una venta por número
      operationId: Invoices_GetByNumber
      parameters:
        - name: idOrNumber
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvoiceDetails'
              example:
                ID: 00000000-0000-0000-0000-000000000000
                UUID: 00000000-0000-0000-0000-000000000000
                Series: string
                Number: 0
                ClientID: 00000000-0000-0000-0000-000000000000
                ClientName: string
                PaymentTerms: 0
                Status: string
                StatusCode: 0
                ClientPhoneNumber: string
                ClientContact: string
                RFC: string
                CreatedByID: 00000000-0000-0000-0000-000000000000
                CreatedByName: string
                CreationDate: string
                ApplicationDate: string
                PriceListID: 00000000-0000-0000-0000-000000000000
                PriceListName: string
                LocationID: 00000000-0000-0000-0000-000000000000
                LocationName: string
                WarehouseID: 00000000-0000-0000-0000-000000000000
                WarehouseName: string
                CFDIPaymentMethod: string
                CFDIPaymentTerm: string
                CFDIAccountNumber: string
                CurrencyName: string
                ExchangeRate: 0
                PurchaseOrder: string
                FiscalID: 00000000-0000-0000-0000-000000000000
                Address: string
                Comments: string
                Subtotal: 0
                Discount: 0
                VAT: 0
                IEPS: 0
                VATRet: 0
                ISRRet: 0
                Payments: 0
                CreditNotes: 0
                Products:
                  - ID: 00000000-0000-0000-0000-000000000000
                    ProductID: 00000000-0000-0000-0000-000000000000
                    Name: string
                    IndexNumber: 0
                    Code: string
                    Unit: string
                    UnitMultiplier: 0
                    Qty: 0
                    Price: 0
                    VATRate: 0
                    IEPSRate: 0
                    Discount: 0
                    Comments: string
                    LotInfo: string
                Services:
                  - ID: 00000000-0000-0000-0000-000000000000
                    IndexNumber: 0
                    ServiceID: 00000000-0000-0000-0000-000000000000
                    Name: string
                    Code: string
                    Qty: 0
                    Price: 0
                    VATRate: 0
                    Discount: 0
            text/json:
              schema:
                $ref: '#/components/schemas/InvoiceDetails'
              example:
                ID: 00000000-0000-0000-0000-000000000000
                UUID: 00000000-0000-0000-0000-000000000000
                Series: string
                Number: 0
                ClientID: 00000000-0000-0000-0000-000000000000
                ClientName: string
                PaymentTerms: 0
                Status: string
                StatusCode: 0
                ClientPhoneNumber: string
                ClientContact: string
                RFC: string
                CreatedByID: 00000000-0000-0000-0000-000000000000
                CreatedByName: string
                CreationDate: string
                ApplicationDate: string
                PriceListID: 00000000-0000-0000-0000-000000000000
                PriceListName: string
                LocationID: 00000000-0000-0000-0000-000000000000
                LocationName: string
                WarehouseID: 00000000-0000-0000-0000-000000000000
                WarehouseName: string
                CFDIPaymentMethod: string
                CFDIPaymentTerm: string
                CFDIAccountNumber: string
                CurrencyName: string
                ExchangeRate: 0
                PurchaseOrder: string
                FiscalID: 00000000-0000-0000-0000-000000000000
                Address: string
                Comments: string
                Subtotal: 0
                Discount: 0
                VAT: 0
                IEPS: 0
                VATRet: 0
                ISRRet: 0
                Payments: 0
                CreditNotes: 0
                Products:
                  - ID: 00000000-0000-0000-0000-000000000000
                    ProductID: 00000000-0000-0000-0000-000000000000
                    Name: string
                    IndexNumber: 0
                    Code: string
                    Unit: string
                    UnitMultiplier: 0
                    Qty: 0
                    Price: 0
                    VATRate: 0
                    IEPSRate: 0
                    Discount: 0
                    Comments: string
                    LotInfo: string
                Services:
                  - ID: 00000000-0000-0000-0000-000000000000
                    IndexNumber: 0
                    ServiceID: 00000000-0000-0000-0000-000000000000
                    Name: string
                    Code: string
                    Qty: 0
                    Price: 0
                    VATRate: 0
                    Discount: 0
            application/xml:
              schema:
                $ref: '#/components/schemas/InvoiceDetails'
[...]
