{
    "swagger": "2.0",
    "info": {
        "title": "Bind ERP API",
        "version": "1.0"
    },
    "host": "api.bind.com.mx",
    "schemes": [
        "http",
        "https"
    ],
    "paths": {
        "/api/AccountingJournals": {
            "get": {
                "description": "Obtiene la lista de pólizas contables.",
                "operationId": "AccountingJournals_Get",
                "summary": "Obtiene la lista de pólizas contables.",
                "tags": [
                    "AccountingJournals"
                ],
                "parameters": [
                    {
                        "name": "$filter",
                        "in": "query",
                        "description": "Filters the results, based on a Boolean condition.",
                        "type": "string"
                    },
                    {
                        "name": "$orderby",
                        "in": "query",
                        "description": "Sorts the results.",
                        "type": "string"
                    },
                    {
                        "name": "$top",
                        "in": "query",
                        "description": "Returns only the first n results.",
                        "type": "integer"
                    },
                    {
                        "name": "$skip",
                        "in": "query",
                        "description": "Skips the first n results.",
                        "type": "integer"
                    }
                ],
                "produces": [
                    "application/json",
                    "text/json"
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/AccountingJournalPage"
                        },
                        "examples": {
                            "application/json": {
                                "value": [
                                    {
                                        "ID": "00000000-0000-0000-0000-000000000000",
                                        "DocumentID": "00000000-0000-0000-0000-000000000000",
                                        "Type": "string",
                                        "ApplicationDate": "string",
                                        "CreationDate": "string",
                                        "Number": 0,
                                        "LocationID": "00000000-0000-0000-0000-000000000000",
                                        "PeriodType": "string",
                                        "Items": [
                                            {
                                                "AccountID": "00000000-0000-0000-0000-000000000000",
                                                "AccountName": "string",
                                                "Description": "string",
                                                "Debit": 0,
                                                "Charge": 0
                                            }
                                        ]
                                    }
                                ],
                                "nextLink": "string",
                                "count": 0
                            },
                            "text/json": {
                                "value": [
                                    {
                                        "ID": "00000000-0000-0000-0000-000000000000",
                                        "DocumentID": "00000000-0000-0000-0000-000000000000",
                                        "Type": "string",
                                        "ApplicationDate": "string",
                                        "CreationDate": "string",
                                        "Number": 0,
                                        "LocationID": "00000000-0000-0000-0000-000000000000",
                                        "PeriodType": "string",
                                        "Items": [
                                            {
                                                "AccountID": "00000000-0000-0000-0000-000000000000",
                                                "AccountName": "string",
                                                "Description": "string",
                                                "Debit": 0,
                                                "Charge": 0
                                            }
                                        ]
                                    }
                                ],
                                "nextLink": "string",
                                "count": 0
                            }
                        }
                    }
                }
            },
            "put": {
                "description": "Editar póliza contable",
                "operationId": "AccountingJournals_EditAccountingJournal",
                "summary": "Editar póliza contable",
                "tags": [
                    "AccountingJournals"
                ],
                "parameters": [
                    {
                        "name": "editAccountingJournal",
                        "in": "body",
                        "schema": {
                            "$ref": "#/definitions/EditAccountingJournal"
                        }
                    }
                ],
                "consumes": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml",
                    "application/x-www-form-urlencoded"
                ],
                "produces": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml"
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/ApiAccountingJournalsPut200TextXmlResponse"
                        },
                        "examples": {
                            "application/json": "00000000-0000-0000-0000-000000000000",
                            "text/json": "00000000-0000-0000-0000-000000000000",
                            "application/xml": "00000000-0000-0000-0000-000000000000",
                            "text/xml": "00000000-0000-0000-0000-000000000000"
                        }
                    }
                }
            },
            "post": {
                "description": "Agregar póliza contable",
                "operationId": "AccountingJournals_AddAccountingJournal",
                "summary": "Agregar póliza contable",
                "tags": [
                    "AccountingJournals"
                ],
                "parameters": [
                    {
                        "name": "newAccountingJournal",
                        "in": "body",
                        "schema": {
                            "$ref": "#/definitions/NewAccountingJournal"
                        }
                    }
                ],
                "consumes": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml",
                    "application/x-www-form-urlencoded"
                ],
                "produces": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml"
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/ApiAccountingJournalsPost200TextXmlResponse"
                        },
                        "examples": {
                            "application/json": "00000000-0000-0000-0000-000000000000",
                            "text/json": "00000000-0000-0000-0000-000000000000",
                            "application/xml": "00000000-0000-0000-0000-000000000000",
                            "text/xml": "00000000-0000-0000-0000-000000000000"
                        }
                    }
                }
            },
            "delete": {
                "description": "Eliminar póliza contable",
                "operationId": "AccountingJournals_DeleteAccountingJournal",
                "summary": "Eliminar póliza contable",
                "tags": [
                    "AccountingJournals"
                ],
                "parameters": [
                    {
                        "name": "idList",
                        "in": "body",
                        "schema": {
                            "$ref": "#/definitions/IdList"
                        }
                    }
                ],
                "consumes": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml",
                    "application/x-www-form-urlencoded"
                ],
                "responses": {
                    "204": {
                        "description": "No Content"
                    }
                }
            }
        },
        "/api/AccountCategories": {
            "get": {
                "description": "Obtiene las categorías de cuentas contables.",
                "operationId": "Accounts_GetAccountCategories",
                "summary": "Obtiene las categorías de cuentas contables.",
                "tags": [
                    "Accounts"
                ],
                "produces": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml"
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/AccountCategories"
                        },
                        "examples": {
                            "application/json": {
                                "GLGroups": [
                                    {
                                        "ID": "00000000-0000-0000-0000-000000000000",
                                        "Description": "string",
                                        "Groups": [
                                            {
                                                "ID": "00000000-0000-0000-0000-000000000000",
                                                "Code": "string",
                                                "Prefix": "string",
                                                "Description": "string",
                                                "SubGroups": [
                                                    {
                                                        "ID": "00000000-0000-0000-0000-000000000000",
                                                        "Code": "string",
                                                        "Prefix": "string",
                                                        "Description": "string"
                                                    }
                                                ]
                                            }
                                        ]
                                    }
                                ]
                            },
                            "text/json": {
                                "GLGroups": [
                                    {
                                        "ID": "00000000-0000-0000-0000-000000000000",
                                        "Description": "string",
                                        "Groups": [
                                            {
                                                "ID": "00000000-0000-0000-0000-000000000000",
                                                "Code": "string",
                                                "Prefix": "string",
                                                "Description": "string",
                                                "SubGroups": [
                                                    {
                                                        "ID": "00000000-0000-0000-0000-000000000000",
                                                        "Code": "string",
                                                        "Prefix": "string",
                                                        "Description": "string"
                                                    }
                                                ]
                                            }
                                        ]
                                    }
                                ]
                            },
                            "application/xml": "<AccountCategories>\r\n  <GLGroups>\r\n    <ID>00000000-0000-0000-0000-000000000000</ID>\r\n    <Description>string</Description>\r\n    <Groups>\r\n      <ID>00000000-0000-0000-0000-000000000000</ID>\r\n      <Code>string</Code>\r\n      <Prefix>string</Prefix>\r\n      <Description>string</Description>\r\n      <SubGroups>\r\n        <ID>00000000-0000-0000-0000-000000000000</ID>\r\n        <Code>string</Code>\r\n        <Prefix>string</Prefix>\r\n        <Description>string</Description>\r\n      </SubGroups>\r\n    </Groups>\r\n  </GLGroups>\r\n</AccountCategories>",
                            "text/xml": "<AccountCategories>\r\n  <GLGroups>\r\n    <ID>00000000-0000-0000-0000-000000000000</ID>\r\n    <Description>string</Description>\r\n    <Groups>\r\n      <ID>00000000-0000-0000-0000-000000000000</ID>\r\n      <Code>string</Code>\r\n      <Prefix>string</Prefix>\r\n      <Description>string</Description>\r\n      <SubGroups>\r\n        <ID>00000000-0000-0000-0000-000000000000</ID>\r\n        <Code>string</Code>\r\n        <Prefix>string</Prefix>\r\n        <Description>string</Description>\r\n      </SubGroups>\r\n    </Groups>\r\n  </GLGroups>\r\n</AccountCategories>"
                        }
                    }
                }
            }
        },
        "/api/Accounts": {
            "get": {
                "description": "Obtiene la lista de cuentas contables.",
                "operationId": "Accounts_Get",
                "summary": "Obtiene la lista de cuentas contables.",
                "tags": [
                    "Accounts"
                ],
                "parameters": [
                    {
                        "name": "$filter",
                        "in": "query",
                        "description": "Filters the results, based on a Boolean condition.",
                        "type": "string"
                    },
                    {
                        "name": "$orderby",
                        "in": "query",
                        "description": "Sorts the results.",
                        "type": "string"
                    },
                    {
                        "name": "$top",
                        "in": "query",
                        "description": "Returns only the first n results.",
                        "type": "integer"
                    },
                    {
                        "name": "$skip",
                        "in": "query",
                        "description": "Skips the first n results.",
                        "type": "integer"
                    }
                ],
                "produces": [
                    "application/json",
                    "text/json"
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/AccountPage"
                        },
                        "examples": {
                            "application/json": {
                                "value": [
                                    {
                                        "ID": "00000000-0000-0000-0000-000000000000",
                                        "GLGroup": "string",
                                        "Group": "string",
                                        "SubGroup": "string",
                                        "GLGroupID": "00000000-0000-0000-0000-000000000000",
                                        "GroupID": "00000000-0000-0000-0000-000000000000",
                                        "SubGroupID": "00000000-0000-0000-0000-000000000000",
                                        "Number": "string",
                                        "Description": "string"
                                    }
                                ],
                                "nextLink": "string",
                                "count": 0
                            },
                            "text/json": {
                                "value": [
                                    {
                                        "ID": "00000000-0000-0000-0000-000000000000",
                                        "GLGroup": "string",
                                        "Group": "string",
                                        "SubGroup": "string",
                                        "GLGroupID": "00000000-0000-0000-0000-000000000000",
                                        "GroupID": "00000000-0000-0000-0000-000000000000",
                                        "SubGroupID": "00000000-0000-0000-0000-000000000000",
                                        "Number": "string",
                                        "Description": "string"
                                    }
                                ],
                                "nextLink": "string",
                                "count": 0
                            }
                        }
                    }
                }
            },
            "post": {
                "description": "Agregar Cuenta Contable",
                "operationId": "Accounts_AddAccount",
                "summary": "Agregar Cuenta Contable",
                "tags": [
                    "Accounts"
                ],
                "parameters": [
                    {
                        "name": "newAccount",
                        "in": "body",
                        "schema": {
                            "$ref": "#/definitions/NewAccount"
                        }
                    }
                ],
                "consumes": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml",
                    "application/x-www-form-urlencoded"
                ],
                "produces": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml"
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/ApiAccountsPost200TextXmlResponse"
                        },
                        "examples": {
                            "application/json": "00000000-0000-0000-0000-000000000000",
                            "text/json": "00000000-0000-0000-0000-000000000000",
                            "application/xml": "00000000-0000-0000-0000-000000000000",
                            "text/xml": "00000000-0000-0000-0000-000000000000"
                        }
                    }
                }
            }
        },
        "/api/Accounts/{id}": {
            "delete": {
                "description": "Borrar Cuenta Contable",
                "operationId": "Accounts_DeleteAccount",
                "summary": "Borrar Cuenta Contable",
                "tags": [
                    "Accounts"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Format - uuid. Format - uuid.",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    },
                    {
                        "name": "replacementID",
                        "in": "query",
                        "description": "Format - uuid. Format - uuid.",
                        "type": "string",
                        "format": "uuid"
                    }
                ],
                "responses": {
                    "204": {
                        "description": "No Content"
                    }
                }
            }
        },
        "/api/Activities": {
            "get": {
                "description": "Listar actividades",
                "operationId": "Activities_Get",
                "summary": "Listar actividades",
                "tags": [
                    "Activities"
                ],
                "parameters": [
                    {
                        "name": "$filter",
                        "in": "query",
                        "description": "Filters the results, based on a Boolean condition.",
                        "type": "string"
                    },
                    {
                        "name": "$orderby",
                        "in": "query",
                        "description": "Sorts the results.",
                        "type": "string"
                    },
                    {
                        "name": "$top",
                        "in": "query",
                        "description": "Returns only the first n results.",
                        "type": "integer"
                    },
                    {
                        "name": "$skip",
                        "in": "query",
                        "description": "Skips the first n results.",
                        "type": "integer"
                    }
                ],
                "produces": [
                    "application/json",
                    "text/json"
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/ActivityPage"
                        },
                        "examples": {
                            "application/json": {
                                "value": [
                                    {
                                        "ID": "00000000-0000-0000-0000-000000000000",
                                        "Title": "string",
                                        "Start": "string",
                                        "End": "string",
                                        "EmployeeID": "00000000-0000-0000-0000-000000000000",
                                        "Done": true,
                                        "Status": 0,
                                        "GroupID": "00000000-0000-0000-0000-000000000000",
                                        "Type": 0,
                                        "ExternalID": "00000000-0000-0000-0000-000000000000",
                                        "AllDay": true,
                                        "LocationID": "00000000-0000-0000-0000-000000000000",
                                        "IsPublic": true,
                                        "EventTypeID": "00000000-0000-0000-0000-000000000000",
                                        "EventTypeText": "string",
                                        "ExternalIDType": 0,
                                        "ActionName": "string",
                                        "ActionLink": "string",
                                        "Description": "string"
                                    }
                                ],
                                "nextLink": "string",
                                "count": 0
                            },
                            "text/json": {
                                "value": [
                                    {
                                        "ID": "00000000-0000-0000-0000-000000000000",
                                        "Title": "string",
                                        "Start": "string",
                                        "End": "string",
                                        "EmployeeID": "00000000-0000-0000-0000-000000000000",
                                        "Done": true,
                                        "Status": 0,
                                        "GroupID": "00000000-0000-0000-0000-000000000000",
                                        "Type": 0,
                                        "ExternalID": "00000000-0000-0000-0000-000000000000",
                                        "AllDay": true,
                                        "LocationID": "00000000-0000-0000-0000-000000000000",
                                        "IsPublic": true,
                                        "EventTypeID": "00000000-0000-0000-0000-000000000000",
                                        "EventTypeText": "string",
                                        "ExternalIDType": 0,
                                        "ActionName": "string",
                                        "ActionLink": "string",
                                        "Description": "string"
                                    }
                                ],
                                "nextLink": "string",
                                "count": 0
                            }
                        }
                    }
                }
            },
            "post": {
                "description": "Agregar actividad",
                "operationId": "Activities_AddActivity",
                "summary": "Agregar actividad",
                "tags": [
                    "Activities"
                ],
                "parameters": [
                    {
                        "name": "newActivity",
                        "in": "body",
                        "schema": {
                            "$ref": "#/definitions/NewActivity"
                        }
                    }
                ],
                "consumes": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml",
                    "application/x-www-form-urlencoded"
                ],
                "responses": {
                    "204": {
                        "description": "No Content"
                    }
                }
            }
        },
        "/api/BankAccounts": {
            "get": {
                "description": "Obtiene la lista de cuentas bancarias.",
                "operationId": "BankAccounts_Get",
                "summary": "Obtiene la lista de cuentas bancarias.",
                "tags": [
                    "BankAccounts"
                ],
                "parameters": [
                    {
                        "name": "$filter",
                        "in": "query",
                        "description": "Filters the results, based on a Boolean condition.",
                        "type": "string"
                    },
                    {
                        "name": "$orderby",
                        "in": "query",
                        "description": "Sorts the results.",
                        "type": "string"
                    },
                    {
                        "name": "$top",
                        "in": "query",
                        "description": "Returns only the first n results.",
                        "type": "integer"
                    },
                    {
                        "name": "$skip",
                        "in": "query",
                        "description": "Skips the first n results.",
                        "type": "integer"
                    }
                ],
                "produces": [
                    "application/json",
                    "text/json"
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/BankAccountPage"
                        },
                        "examples": {
                            "application/json": {
                                "value": [
                                    {
                                        "ID": "00000000-0000-0000-0000-000000000000",
                                        "Type": 0,
                                        "TypeText": "string",
                                        "BankID": "00000000-0000-0000-0000-000000000000",
                                        "BankName": "string",
                                        "Name": "string",
                                        "Balance": 0,
                                        "CurrencyID": "00000000-0000-0000-0000-000000000000",
                                        "CurrencyCode": "string",
                                        "LocationID": "00000000-0000-0000-0000-000000000000"
                                    }
                                ],
                                "nextLink": "string",
                                "count": 0
                            },
                            "text/json": {
                                "value": [
                                    {
                                        "ID": "00000000-0000-0000-0000-000000000000",
                                        "Type": 0,
                                        "TypeText": "string",
                                        "BankID": "00000000-0000-0000-0000-000000000000",
                                        "BankName": "string",
                                        "Name": "string",
                                        "Balance": 0,
                                        "CurrencyID": "00000000-0000-0000-0000-000000000000",
                                        "CurrencyCode": "string",
                                        "LocationID": "00000000-0000-0000-0000-000000000000"
                                    }
                                ],
                                "nextLink": "string",
                                "count": 0
                            }
                        }
                    }
                }
            },
            "post": {
                "description": "Agregar un ajuste de cuenta bancaria.",
                "operationId": "BankAccounts_AddAccountAdjustment",
                "summary": "Agregar un ajuste de cuenta bancaria.",
                "tags": [
                    "BankAccounts"
                ],
                "parameters": [
                    {
                        "name": "newAccountAdjustment",
                        "in": "body",
                        "schema": {
                            "$ref": "#/definitions/NewAccountAdjustment"
                        }
                    }
                ],
                "consumes": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml",
                    "application/x-www-form-urlencoded"
                ],
                "produces": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml"
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/ApiBankAccountsPost200TextXmlResponse"
                        },
                        "examples": {
                            "application/json": "00000000-0000-0000-0000-000000000000",
                            "text/json": "00000000-0000-0000-0000-000000000000",
                            "application/xml": "00000000-0000-0000-0000-000000000000",
                            "text/xml": "00000000-0000-0000-0000-000000000000"
                        }
                    }
                }
            }
        },
        "/api/PriceLists": {
            "get": {
                "description": "Obtiene la lista de precios.",
                "operationId": "Catalogs_GetPriceLists",
                "summary": "Obtiene la lista de precios.",
                "tags": [
                    "Catalogs"
                ],
                "parameters": [
                    {
                        "name": "$filter",
                        "in": "query",
                        "description": "Filters the results, based on a Boolean condition.",
                        "type": "string"
                    },
                    {
                        "name": "$orderby",
                        "in": "query",
                        "description": "Sorts the results.",
                        "type": "string"
                    },
                    {
                        "name": "$top",
                        "in": "query",
                        "description": "Returns only the first n results.",
                        "type": "integer"
                    },
                    {
                        "name": "$skip",
                        "in": "query",
                        "description": "Skips the first n results.",
                        "type": "integer"
                    }
                ],
                "produces": [
                    "application/json",
                    "text/json"
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/PriceListPage"
                        },
                        "examples": {
                            "application/json": {
                                "value": [
                                    {
                                        "ID": "00000000-0000-0000-0000-000000000000",
                                        "Name": "string"
                                    }
                                ],
                                "nextLink": "string",
                                "count": 0
                            },
                            "text/json": {
                                "value": [
                                    {
                                        "ID": "00000000-0000-0000-0000-000000000000",
                                        "Name": "string"
                                    }
                                ],
                                "nextLink": "string",
                                "count": 0
                            }
                        }
                    }
                }
            }
        },
        "/api/Locations": {
            "get": {
                "description": "Obtiene la lista de sucursales.",
                "operationId": "Catalogs_GetLocations",
                "summary": "Obtiene la lista de sucursales.",
                "tags": [
                    "Catalogs"
                ],
                "parameters": [
                    {
                        "name": "$filter",
                        "in": "query",
                        "description": "Filters the results, based on a Boolean condition.",
                        "type": "string"
                    },
                    {
                        "name": "$orderby",
                        "in": "query",
                        "description": "Sorts the results.",
                        "type": "string"
                    },
                    {
                        "name": "$top",
                        "in": "query",
                        "description": "Returns only the first n results.",
                        "type": "integer"
                    },
                    {
                        "name": "$skip",
                        "in": "query",
                        "description": "Skips the first n results.",
                        "type": "integer"
                    }
                ],
                "produces": [
                    "application/json",
                    "text/json"
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/LocationPage"
                        },
                        "examples": {
                            "application/json": {
                                "value": [
                                    {
                                        "ID": "00000000-0000-0000-0000-000000000000",
                                        "Name": "string",
                                        "Street": "string",
                                        "ExtNumber": "string",
                                        "IntNumber": "string",
                                        "ZipCode": "string",
                                        "Colonia": "string",
                                        "City": "string",
                                        "State": "string"
                                    }
                                ],
                                "nextLink": "string",
                                "count": 0
                            },
                            "text/json": {
                                "value": [
                                    {
                                        "ID": "00000000-0000-0000-0000-000000000000",
                                        "Name": "string",
                                        "Street": "string",
                                        "ExtNumber": "string",
                                        "IntNumber": "string",
                                        "ZipCode": "string",
                                        "Colonia": "string",
                                        "City": "string",
                                        "State": "string"
                                    }
                                ],
                                "nextLink": "string",
                                "count": 0
                            }
                        }
                    }
                }
            }
        },
        "/api/Currencies": {
            "get": {
                "description": "Obtiene la lista de monedas.",
                "operationId": "Catalogs_GetCurrencies",
                "summary": "Obtiene la lista de monedas.",
                "tags": [
                    "Catalogs"
                ],
                "parameters": [
                    {
                        "name": "$filter",
                        "in": "query",
                        "description": "Filters the results, based on a Boolean condition.",
                        "type": "string"
                    },
                    {
                        "name": "$orderby",
                        "in": "query",
                        "description": "Sorts the results.",
                        "type": "string"
                    },
                    {
                        "name": "$top",
                        "in": "query",
                        "description": "Returns only the first n results.",
                        "type": "integer"
                    },
                    {
                        "name": "$skip",
                        "in": "query",
                        "description": "Skips the first n results.",
                        "type": "integer"
                    }
                ],
                "produces": [
                    "application/json",
                    "text/json"
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/CurrencyPage"
                        },
                        "examples": {
                            "application/json": {
                                "value": [
                                    {
                                        "ID": "00000000-0000-0000-0000-000000000000",
                                        "Name": "string",
                                        "Code": "string",
                                        "ExchangeRate": 0
                                    }
                                ],
                                "nextLink": "string",
                                "count": 0
                            },
                            "text/json": {
                                "value": [
                                    {
                                        "ID": "00000000-0000-0000-0000-000000000000",
                                        "Name": "string",
                                        "Code": "string",
                                        "ExchangeRate": 0
                                    }
                                ],
                                "nextLink": "string",
                                "count": 0
                            }
                        }
                    }
                }
            }
        },
        "/api/Categories": {
            "get": {
                "description": "Obtiene la lista de Categorias.",
                "operationId": "Catalogs_GetCategories",
                "summary": "Obtiene la lista de Categorias.",
                "tags": [
                    "Catalogs"
                ],
                "produces": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml"
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/Category1Array"
                        },
                        "examples": {
                            "application/json": [
                                {
                                    "ID": "00000000-0000-0000-0000-000000000000",
                                    "Name": "string",
                                    "SubCategories": [
                                        {
                                            "ID": "00000000-0000-0000-0000-000000000000",
                                            "Name": "string",
                                            "SubCategories": [
                                                {
                                                    "ID": "00000000-0000-0000-0000-000000000000",
                                                    "Name": "string"
                                                }
                                            ]
                                        }
                                    ]
                                }
                            ],
                            "text/json": [
                                {
                                    "ID": "00000000-0000-0000-0000-000000000000",
                                    "Name": "string",
                                    "SubCategories": [
                                        {
                                            "ID": "00000000-0000-0000-0000-000000000000",
                                            "Name": "string",
                                            "SubCategories": [
                                                {
                                                    "ID": "00000000-0000-0000-0000-000000000000",
                                                    "Name": "string"
                                                }
                                            ]
                                        }
                                    ]
                                }
                            ],
                            "application/xml": "<Category1Array>\r\n  <ID>00000000-0000-0000-0000-000000000000</ID>\r\n  <Name>string</Name>\r\n  <SubCategories>\r\n    <ID>00000000-0000-0000-0000-000000000000</ID>\r\n    <Name>string</Name>\r\n    <SubCategories>\r\n      <ID>00000000-0000-0000-0000-000000000000</ID>\r\n      <Name>string</Name>\r\n    </SubCategories>\r\n  </SubCategories>\r\n</Category1Array>",
                            "text/xml": "<Category1Array>\r\n  <ID>00000000-0000-0000-0000-000000000000</ID>\r\n  <Name>string</Name>\r\n  <SubCategories>\r\n    <ID>00000000-0000-0000-0000-000000000000</ID>\r\n    <Name>string</Name>\r\n    <SubCategories>\r\n      <ID>00000000-0000-0000-0000-000000000000</ID>\r\n      <Name>string</Name>\r\n    </SubCategories>\r\n  </SubCategories>\r\n</Category1Array>"
                        }
                    }
                }
            }
        },
        "/api/Banks": {
            "get": {
                "description": "Obtiene la lista de bancos.",
                "operationId": "Catalogs_GetBanks",
                "summary": "Obtiene la lista de bancos.",
                "tags": [
                    "Catalogs"
                ],
                "parameters": [
                    {
                        "name": "$filter",
                        "in": "query",
                        "description": "Filters the results, based on a Boolean condition.",
                        "type": "string"
                    },
                    {
                        "name": "$orderby",
                        "in": "query",
                        "description": "Sorts the results.",
                        "type": "string"
                    },
                    {
                        "name": "$top",
                        "in": "query",
                        "description": "Returns only the first n results.",
                        "type": "integer"
                    },
                    {
                        "name": "$skip",
                        "in": "query",
                        "description": "Skips the first n results.",
                        "type": "integer"
                    }
                ],
                "produces": [
                    "application/json",
                    "text/json"
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/BankPage"
                        },
                        "examples": {
                            "application/json": {
                                "value": [
                                    {
                                        "ID": "00000000-0000-0000-0000-000000000000",
                                        "Name": "string"
                                    }
                                ],
                                "nextLink": "string",
                                "count": 0
                            },
                            "text/json": {
                                "value": [
                                    {
                                        "ID": "00000000-0000-0000-0000-000000000000",
                                        "Name": "string"
                                    }
                                ],
                                "nextLink": "string",
                                "count": 0
                            }
                        }
                    }
                }
            }
        },
        "/api/Series": {
            "get": {
                "description": "Obtiene la lista de Series.",
                "operationId": "Catalogs_GetSeries",
                "summary": "Obtiene la lista de Series.",
                "tags": [
                    "Catalogs"
                ],
                "parameters": [
                    {
                        "name": "docType",
                        "in": "query",
                        "description": "Format - int32. Format - int32.",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    }
                ],
                "produces": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml"
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/SeriesArray"
                        },
                        "examples": {
                            "application/json": [
                                {
                                    "ID": "00000000-0000-0000-0000-000000000000",
                                    "Serie": "string",
                                    "StartNumber": 0,
                                    "CurrentNumber": 0,
                                    "Date": "string",
                                    "DocType": 0,
                                    "DocTypeText": "string",
                                    "Locations": [
                                        "00000000-0000-0000-0000-000000000000"
                                    ]
                                }
                            ],
                            "text/json": [
                                {
                                    "ID": "00000000-0000-0000-0000-000000000000",
                                    "Serie": "string",
                                    "StartNumber": 0,
                                    "CurrentNumber": 0,
                                    "Date": "string",
                                    "DocType": 0,
                                    "DocTypeText": "string",
                                    "Locations": [
                                        "00000000-0000-0000-0000-000000000000"
                                    ]
                                }
                            ],
                            "application/xml": "<SeriesArray>\r\n  <ID>00000000-0000-0000-0000-000000000000</ID>\r\n  <Serie>string</Serie>\r\n  <StartNumber>0</StartNumber>\r\n  <CurrentNumber>0</CurrentNumber>\r\n  <Date>string</Date>\r\n  <DocType>0</DocType>\r\n  <DocTypeText>string</DocTypeText>\r\n  <Locations>00000000-0000-0000-0000-000000000000</Locations>\r\n</SeriesArray>",
                            "text/xml": "<SeriesArray>\r\n  <ID>00000000-0000-0000-0000-000000000000</ID>\r\n  <Serie>string</Serie>\r\n  <StartNumber>0</StartNumber>\r\n  <CurrentNumber>0</CurrentNumber>\r\n  <Date>string</Date>\r\n  <DocType>0</DocType>\r\n  <DocTypeText>string</DocTypeText>\r\n  <Locations>00000000-0000-0000-0000-000000000000</Locations>\r\n</SeriesArray>"
                        }
                    }
                }
            }
        },
        "/api/Users": {
            "get": {
                "description": "Obtiene la lista de usuarios.",
                "operationId": "Catalogs_GetUsers",
                "summary": "Obtiene la lista de usuarios.",
                "tags": [
                    "Catalogs"
                ],
                "parameters": [
                    {
                        "name": "$filter",
                        "in": "query",
                        "description": "Filters the results, based on a Boolean condition.",
                        "type": "string"
                    },
                    {
                        "name": "$orderby",
                        "in": "query",
                        "description": "Sorts the results.",
                        "type": "string"
                    },
                    {
                        "name": "$top",
                        "in": "query",
                        "description": "Returns only the first n results.",
                        "type": "integer"
                    },
                    {
                        "name": "$skip",
                        "in": "query",
                        "description": "Skips the first n results.",
                        "type": "integer"
                    }
                ],
                "produces": [
                    "application/json",
                    "text/json"
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/UserPage"
                        },
                        "examples": {
                            "application/json": {
                                "value": [
                                    {
                                        "ID": "00000000-0000-0000-0000-000000000000",
                                        "FullName": "string",
                                        "JobPosition": "string",
                                        "LocationID": "00000000-0000-0000-0000-000000000000",
                                        "Email": "string",
                                        "UserName": "string"
                                    }
                                ],
                                "nextLink": "string",
                                "count": 0
                            },
                            "text/json": {
                                "value": [
                                    {
                                        "ID": "00000000-0000-0000-0000-000000000000",
                                        "FullName": "string",
                                        "JobPosition": "string",
                                        "LocationID": "00000000-0000-0000-0000-000000000000",
                                        "Email": "string",
                                        "UserName": "string"
                                    }
                                ],
                                "nextLink": "string",
                                "count": 0
                            }
                        }
                    }
                }
            }
        },
        "/api/States": {
            "get": {
                "description": "Obtiene la lista de Estados.",
                "operationId": "Catalogs_GetStates",
                "summary": "Obtiene la lista de Estados.",
                "tags": [
                    "Catalogs"
                ],
                "parameters": [
                    {
                        "name": "$filter",
                        "in": "query",
                        "description": "Filters the results, based on a Boolean condition.",
                        "type": "string"
                    },
                    {
                        "name": "$orderby",
                        "in": "query",
                        "description": "Sorts the results.",
                        "type": "string"
                    },
                    {
                        "name": "$top",
                        "in": "query",
                        "description": "Returns only the first n results.",
                        "type": "integer"
                    },
                    {
                        "name": "$skip",
                        "in": "query",
                        "description": "Skips the first n results.",
                        "type": "integer"
                    }
                ],
                "produces": [
                    "application/json",
                    "text/json"
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/StatePage"
                        },
                        "examples": {
                            "application/json": {
                                "value": [
                                    {
                                        "ID": "00000000-0000-0000-0000-000000000000",
                                        "Name": "string"
                                    }
                                ],
                                "nextLink": "string",
                                "count": 0
                            },
                            "text/json": {
                                "value": [
                                    {
                                        "ID": "00000000-0000-0000-0000-000000000000",
                                        "Name": "string"
                                    }
                                ],
                                "nextLink": "string",
                                "count": 0
                            }
                        }
                    }
                }
            }
        },
        "/api/Cities": {
            "get": {
                "description": "Obtiene la lista de Ciudades por estado.",
                "operationId": "Catalogs_GetCities",
                "summary": "Obtiene la lista de Ciudades por estado.",
                "tags": [
                    "Catalogs"
                ],
                "parameters": [
                    {
                        "name": "stateID",
                        "in": "query",
                        "description": "Format - uuid. Format - uuid.",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    },
                    {
                        "name": "$filter",
                        "in": "query",
                        "description": "Filters the results, based on a Boolean condition.",
                        "type": "string"
                    },
                    {
                        "name": "$orderby",
                        "in": "query",
                        "description": "Sorts the results.",
                        "type": "string"
                    },
                    {
                        "name": "$top",
                        "in": "query",
                        "description": "Returns only the first n results.",
                        "type": "integer"
                    },
                    {
                        "name": "$skip",
                        "in": "query",
                        "description": "Skips the first n results.",
                        "type": "integer"
                    }
                ],
                "produces": [
                    "application/json",
                    "text/json"
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/CityPage"
                        },
                        "examples": {
                            "application/json": {
                                "value": [
                                    {
                                        "ID": "00000000-0000-0000-0000-000000000000",
                                        "Name": "string",
                                        "StateID": "00000000-0000-0000-0000-000000000000"
                                    }
                                ],
                                "nextLink": "string",
                                "count": 0
                            },
                            "text/json": {
                                "value": [
                                    {
                                        "ID": "00000000-0000-0000-0000-000000000000",
                                        "Name": "string",
                                        "StateID": "00000000-0000-0000-0000-000000000000"
                                    }
                                ],
                                "nextLink": "string",
                                "count": 0
                            }
                        }
                    }
                }
            }
        },
        "/api/Clients": {
            "get": {
                "description": "El filtro es opcional",
                "operationId": "Clients_Get",
                "summary": "Obtiene la lista de clientes.",
                "tags": [
                    "Clients"
                ],
                "parameters": [
                    {
                        "name": "$filter",
                        "in": "query",
                        "description": "Filters the results, based on a Boolean condition.",
                        "type": "string"
                    },
                    {
                        "name": "$orderby",
                        "in": "query",
                        "description": "Sorts the results.",
                        "type": "string"
                    },
                    {
                        "name": "$top",
                        "in": "query",
                        "description": "Returns only the first n results.",
                        "type": "integer"
                    },
                    {
                        "name": "$skip",
                        "in": "query",
                        "description": "Skips the first n results.",
                        "type": "integer"
                    }
                ],
                "produces": [
                    "application/json",
                    "text/json"
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/ClientListItemPage"
                        },
                        "examples": {
                            "application/json": {
                                "value": [
                                    {
                                        "ID": "00000000-0000-0000-0000-000000000000",
                                        "Number": 0,
                                        "ClientName": "string",
                                        "LegalName": "string",
                                        "RFC": "string",
                                        "Email": "string",
                                        "Phone": "string",
                                        "NextContactDate": "string",
                                        "LocationID": "00000000-0000-0000-0000-000000000000"
                                    }
                                ],
                                "nextLink": "string",
                                "count": 0
                            },
                            "text/json": {
                                "value": [
                                    {
                                        "ID": "00000000-0000-0000-0000-000000000000",
                                        "Number": 0,
                                        "ClientName": "string",
                                        "LegalName": "string",
                                        "RFC": "string",
                                        "Email": "string",
                                        "Phone": "string",
                                        "NextContactDate": "string",
                                        "LocationID": "00000000-0000-0000-0000-000000000000"
                                    }
                                ],
                                "nextLink": "string",
                                "count": 0
                            }
                        }
                    }
                }
            },
            "put": {
                "description": "Editar Cliente",
                "operationId": "Clients_EditClient",
                "summary": "Editar Cliente",
                "tags": [
                    "Clients"
                ],
                "parameters": [
                    {
                        "name": "editClient",
                        "in": "body",
                        "schema": {
                            "$ref": "#/definitions/EditClient"
                        }
                    }
                ],
                "consumes": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml",
                    "application/x-www-form-urlencoded"
                ],
                "responses": {
                    "204": {
                        "description": "No Content"
                    }
                }
            },
            "post": {
                "description": "Agregar Cliente",
                "operationId": "Clients_AddClient",
                "summary": "Agregar Cliente",
                "tags": [
                    "Clients"
                ],
                "parameters": [
                    {
                        "name": "newClient",
                        "in": "body",
                        "schema": {
                            "$ref": "#/definitions/NewClient"
                        }
                    }
                ],
                "consumes": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml",
                    "application/x-www-form-urlencoded"
                ],
                "produces": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml"
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/ApiClientsPost200TextXmlResponse"
                        },
                        "examples": {
                            "application/json": "00000000-0000-0000-0000-000000000000",
                            "text/json": "00000000-0000-0000-0000-000000000000",
                            "application/xml": "00000000-0000-0000-0000-000000000000",
                            "text/xml": "00000000-0000-0000-0000-000000000000"
                        }
                    }
                }
            }
        },
        "/api/Clients/{id}": {
            "get": {
                "description": "Obtiene los detalles de un cliente.",
                "operationId": "Clients_GetDetails",
                "summary": "Obtiene los detalles de un cliente.",
                "tags": [
                    "Clients"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Format - uuid. Format - uuid.",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    }
                ],
                "produces": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml"
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/ClientDetails"
                        },
                        "examples": {
                            "application/json": {
                                "ID": "00000000-0000-0000-0000-000000000000",
                                "RFC": "string",
                                "LegalName": "string",
                                "CommercialName": "string",
                                "CreditDays": 0,
                                "CreditAmount": 0,
                                "PaymentMethod": "string",
                                "CreationDate": "string",
                                "Status": "string",
                                "SalesContact": "string",
                                "CreditContact": "string",
                                "Loctaion": "string",
                                "LoctaionID": "00000000-0000-0000-0000-000000000000",
                                "Comments": "string",
                                "PriceList": "string",
                                "PriceListID": "00000000-0000-0000-0000-000000000000",
                                "PaymentTermType": "string",
                                "Email": "string",
                                "Telephones": "string",
                                "Number": 0,
                                "AccountNumber": "string",
                                "DefaultDiscount": 0,
                                "ClientSource": "string",
                                "Account": "string",
                                "City": "string",
                                "State": "string",
                                "Addresses": [
                                    "00000000-0000-0000-0000-000000000000"
                                ]
                            },
                            "text/json": {
                                "ID": "00000000-0000-0000-0000-000000000000",
                                "RFC": "string",
                                "LegalName": "string",
                                "CommercialName": "string",
                                "CreditDays": 0,
                                "CreditAmount": 0,
                                "PaymentMethod": "string",
                                "CreationDate": "string",
                                "Status": "string",
                                "SalesContact": "string",
                                "CreditContact": "string",
                                "Loctaion": "string",
                                "LoctaionID": "00000000-0000-0000-0000-000000000000",
                                "Comments": "string",
                                "PriceList": "string",
                                "PriceListID": "00000000-0000-0000-0000-000000000000",
                                "PaymentTermType": "string",
                                "Email": "string",
                                "Telephones": "string",
                                "Number": 0,
                                "AccountNumber": "string",
                                "DefaultDiscount": 0,
                                "ClientSource": "string",
                                "Account": "string",
                                "City": "string",
                                "State": "string",
                                "Addresses": [
                                    "00000000-0000-0000-0000-000000000000"
                                ]
                            },
                            "application/xml": "<ClientDetails>\r\n  <ID>00000000-0000-0000-0000-000000000000</ID>\r\n  <RFC>string</RFC>\r\n  <LegalName>string</LegalName>\r\n  <CommercialName>string</CommercialName>\r\n  <CreditDays>0</CreditDays>\r\n  <CreditAmount>0</CreditAmount>\r\n  <PaymentMethod>string</PaymentMethod>\r\n  <CreationDate>string</CreationDate>\r\n  <Status>string</Status>\r\n  <SalesContact>string</SalesContact>\r\n  <CreditContact>string</CreditContact>\r\n  <Loctaion>string</Loctaion>\r\n  <LoctaionID>00000000-0000-0000-0000-000000000000</LoctaionID>\r\n  <Comments>string</Comments>\r\n  <PriceList>string</PriceList>\r\n  <PriceListID>00000000-0000-0000-0000-000000000000</PriceListID>\r\n  <PaymentTermType>string</PaymentTermType>\r\n  <Email>string</Email>\r\n  <Telephones>string</Telephones>\r\n  <Number>0</Number>\r\n  <AccountNumber>string</AccountNumber>\r\n  <DefaultDiscount>0</DefaultDiscount>\r\n  <ClientSource>string</ClientSource>\r\n  <Account>string</Account>\r\n  <City>string</City>\r\n  <State>string</State>\r\n  <Addresses>00000000-0000-0000-0000-000000000000</Addresses>\r\n</ClientDetails>",
                            "text/xml": "<ClientDetails>\r\n  <ID>00000000-0000-0000-0000-000000000000</ID>\r\n  <RFC>string</RFC>\r\n  <LegalName>string</LegalName>\r\n  <CommercialName>string</CommercialName>\r\n  <CreditDays>0</CreditDays>\r\n  <CreditAmount>0</CreditAmount>\r\n  <PaymentMethod>string</PaymentMethod>\r\n  <CreationDate>string</CreationDate>\r\n  <Status>string</Status>\r\n  <SalesContact>string</SalesContact>\r\n  <CreditContact>string</CreditContact>\r\n  <Loctaion>string</Loctaion>\r\n  <LoctaionID>00000000-0000-0000-0000-000000000000</LoctaionID>\r\n  <Comments>string</Comments>\r\n  <PriceList>string</PriceList>\r\n  <PriceListID>00000000-0000-0000-0000-000000000000</PriceListID>\r\n  <PaymentTermType>string</PaymentTermType>\r\n  <Email>string</Email>\r\n  <Telephones>string</Telephones>\r\n  <Number>0</Number>\r\n  <AccountNumber>string</AccountNumber>\r\n  <DefaultDiscount>0</DefaultDiscount>\r\n  <ClientSource>string</ClientSource>\r\n  <Account>string</Account>\r\n  <City>string</City>\r\n  <State>string</State>\r\n  <Addresses>00000000-0000-0000-0000-000000000000</Addresses>\r\n</ClientDetails>"
                        }
                    }
                }
            },
            "delete": {
                "description": "Borrar Cliente",
                "operationId": "Clients_DeleteByID",
                "summary": "Borrar Cliente",
                "tags": [
                    "Clients"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Format - uuid. Format - uuid.",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    }
                ],
                "responses": {
                    "204": {
                        "description": "No Content"
                    }
                }
            }
        },
        "/api/Comments": {
            "get": {
                "description": "Listar comentarios por external ID",
                "operationId": "Comments_Get",
                "summary": "Listar comentarios por external ID",
                "tags": [
                    "Comments"
                ],
                "parameters": [
                    {
                        "name": "$filter",
                        "in": "query",
                        "description": "Filters the results, based on a Boolean condition.",
                        "type": "string"
                    },
                    {
                        "name": "$orderby",
                        "in": "query",
                        "description": "Sorts the results.",
                        "type": "string"
                    },
                    {
                        "name": "$top",
                        "in": "query",
                        "description": "Returns only the first n results.",
                        "type": "integer"
                    },
                    {
                        "name": "$skip",
                        "in": "query",
                        "description": "Skips the first n results.",
                        "type": "integer"
                    }
                ],
                "produces": [
                    "application/json",
                    "text/json"
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/CommentPage"
                        },
                        "examples": {
                            "application/json": {
                                "value": [
                                    {
                                        "ID": "00000000-0000-0000-0000-000000000000",
                                        "ExternalID": "00000000-0000-0000-0000-000000000000",
                                        "Comments": "string",
                                        "CreationDate": "string",
                                        "EmployeeName": "string"
                                    }
                                ],
                                "nextLink": "string",
                                "count": 0
                            },
                            "text/json": {
                                "value": [
                                    {
                                        "ID": "00000000-0000-0000-0000-000000000000",
                                        "ExternalID": "00000000-0000-0000-0000-000000000000",
                                        "Comments": "string",
                                        "CreationDate": "string",
                                        "EmployeeName": "string"
                                    }
                                ],
                                "nextLink": "string",
                                "count": 0
                            }
                        }
                    }
                }
            },
            "post": {
                "description": "Agregar comentario",
                "operationId": "Comments_AddComment",
                "summary": "Agregar comentario",
                "tags": [
                    "Comments"
                ],
                "parameters": [
                    {
                        "name": "newComment",
                        "in": "body",
                        "schema": {
                            "$ref": "#/definitions/NewComment"
                        }
                    }
                ],
                "consumes": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml",
                    "application/x-www-form-urlencoded"
                ],
                "responses": {
                    "204": {
                        "description": "No Content"
                    }
                }
            }
        },
        "/api/CreditNotes": {
            "post": {
                "description": "Agregar Nota de Crédito",
                "operationId": "CreditNotes_AddCreditNote",
                "summary": "Agregar Nota de Crédito",
                "tags": [
                    "CreditNotes"
                ],
                "parameters": [
                    {
                        "name": "newCreditNote",
                        "in": "body",
                        "schema": {
                            "$ref": "#/definitions/NewCreditNote"
                        }
                    }
                ],
                "consumes": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml",
                    "application/x-www-form-urlencoded"
                ],
                "produces": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml"
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/ApiCreditNotesPost200TextXmlResponse"
                        },
                        "examples": {
                            "application/json": "00000000-0000-0000-0000-000000000000",
                            "text/json": "00000000-0000-0000-0000-000000000000",
                            "application/xml": "00000000-0000-0000-0000-000000000000",
                            "text/xml": "00000000-0000-0000-0000-000000000000"
                        }
                    }
                }
            }
        },
        "/api/Expenses/Payment/{expenseID}": {
            "get": {
                "description": "Obtener pagos de una orden de gasto.",
                "operationId": "Expenses_GetPayment",
                "summary": "Obtener pagos de una orden de gasto.",
                "tags": [
                    "Expenses"
                ],
                "parameters": [
                    {
                        "name": "expenseID",
                        "in": "path",
                        "description": "Format - uuid. Format - uuid.",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    },
                    {
                        "name": "$filter",
                        "in": "query",
                        "description": "Filters the results, based on a Boolean condition.",
                        "type": "string"
                    },
                    {
                        "name": "$orderby",
                        "in": "query",
                        "description": "Sorts the results.",
                        "type": "string"
                    },
                    {
                        "name": "$top",
                        "in": "query",
                        "description": "Returns only the first n results.",
                        "type": "integer"
                    },
                    {
                        "name": "$skip",
                        "in": "query",
                        "description": "Skips the first n results.",
                        "type": "integer"
                    }
                ],
                "produces": [
                    "application/json",
                    "text/json"
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/PaymentListItemPage"
                        },
                        "examples": {
                            "application/json": {
                                "value": [
                                    {
                                        "AccountMovementID": "00000000-0000-0000-0000-000000000000",
                                        "AccountMovementNumber": 0,
                                        "ApplicationDate": "string",
                                        "Comments": "string",
                                        "Employee": "string",
                                        "ExchangeRate": 0,
                                        "ExternalID": "00000000-0000-0000-0000-000000000000",
                                        "HasCancellationXML": true,
                                        "ID": "00000000-0000-0000-0000-000000000000",
                                        "StatusCode": 0,
                                        "Account": "string",
                                        "Amount": 0,
                                        "HasAccountingOperation": true,
                                        "StatusText": "string"
                                    }
                                ],
                                "nextLink": "string",
                                "count": 0
                            },
                            "text/json": {
                                "value": [
                                    {
                                        "AccountMovementID": "00000000-0000-0000-0000-000000000000",
                                        "AccountMovementNumber": 0,
                                        "ApplicationDate": "string",
                                        "Comments": "string",
                                        "Employee": "string",
                                        "ExchangeRate": 0,
                                        "ExternalID": "00000000-0000-0000-0000-000000000000",
                                        "HasCancellationXML": true,
                                        "ID": "00000000-0000-0000-0000-000000000000",
                                        "StatusCode": 0,
                                        "Account": "string",
                                        "Amount": 0,
                                        "HasAccountingOperation": true,
                                        "StatusText": "string"
                                    }
                                ],
                                "nextLink": "string",
                                "count": 0
                            }
                        }
                    }
                }
            }
        },
        "/api/Expenses/{id}": {
            "get": {
                "description": "Obtiene los detalles de una orden de gasto.",
                "operationId": "Expenses_GetDetail",
                "summary": "Obtiene los detalles de una orden de gasto.",
                "tags": [
                    "Expenses"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Format - uuid. Format - uuid.",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    }
                ],
                "produces": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml"
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/ExpenseDetails"
                        },
                        "examples": {
                            "application/json": {
                                "ID": "00000000-0000-0000-0000-000000000000",
                                "ProviderID": "00000000-0000-0000-0000-000000000000",
                                "ProviderName": "string",
                                "Status": "string",
                                "StatusCode": 0,
                                "CreationDate": "string",
                                "CreditDays": 0,
                                "LocationID": "00000000-0000-0000-0000-000000000000",
                                "ClientID": "00000000-0000-0000-0000-000000000000",
                                "DepartmentID": "00000000-0000-0000-0000-000000000000",
                                "DocumentType": 0,
                                "DocumentNumber": "string",
                                "Comments": "string",
                                "VAT": 0,
                                "InvoiceID": "00000000-0000-0000-0000-000000000000",
                                "CurrencyID": "00000000-0000-0000-0000-000000000000",
                                "ExchangeRate": 0,
                                "UUID": "string",
                                "Series": "string",
                                "VATRetention": 0,
                                "ISRRetention": 0,
                                "IEPS": 0,
                                "Discount": 0,
                                "FiscalID": "00000000-0000-0000-0000-000000000000",
                                "ISRRetType": 0,
                                "RFC": "string",
                                "ExpensePurchaseOrderItems": [
                                    {
                                        "ID": "00000000-0000-0000-0000-000000000000",
                                        "Qty": 0,
                                        "Cost": 0,
                                        "TypeID": "00000000-0000-0000-0000-000000000000",
                                        "Name": "string",
                                        "ExpensePurchaseOrderID": "00000000-0000-0000-0000-000000000000",
                                        "IndexItem": 0,
                                        "SATCompanyAccountID": "00000000-0000-0000-0000-000000000000"
                                    }
                                ],
                                "DocumentTypeText": "string",
                                "CurrencyName": "string",
                                "ClientName": "string",
                                "LocationName": "string"
                            },
                            "text/json": {
                                "ID": "00000000-0000-0000-0000-000000000000",
                                "ProviderID": "00000000-0000-0000-0000-000000000000",
                                "ProviderName": "string",
                                "Status": "string",
                                "StatusCode": 0,
                                "CreationDate": "string",
                                "CreditDays": 0,
                                "LocationID": "00000000-0000-0000-0000-000000000000",
                                "ClientID": "00000000-0000-0000-0000-000000000000",
                                "DepartmentID": "00000000-0000-0000-0000-000000000000",
                                "DocumentType": 0,
                                "DocumentNumber": "string",
                                "Comments": "string",
                                "VAT": 0,
                                "InvoiceID": "00000000-0000-0000-0000-000000000000",
                                "CurrencyID": "00000000-0000-0000-0000-000000000000",
                                "ExchangeRate": 0,
                                "UUID": "string",
                                "Series": "string",
                                "VATRetention": 0,
                                "ISRRetention": 0,
                                "IEPS": 0,
                                "Discount": 0,
                                "FiscalID": "00000000-0000-0000-0000-000000000000",
                                "ISRRetType": 0,
                                "RFC": "string",
                                "ExpensePurchaseOrderItems": [
                                    {
                                        "ID": "00000000-0000-0000-0000-000000000000",
                                        "Qty": 0,
                                        "Cost": 0,
                                        "TypeID": "00000000-0000-0000-0000-000000000000",
                                        "Name": "string",
                                        "ExpensePurchaseOrderID": "00000000-0000-0000-0000-000000000000",
                                        "IndexItem": 0,
                                        "SATCompanyAccountID": "00000000-0000-0000-0000-000000000000"
                                    }
                                ],
                                "DocumentTypeText": "string",
                                "CurrencyName": "string",
                                "ClientName": "string",
                                "LocationName": "string"
                            },
                            "application/xml": "<ExpenseDetails>\r\n  <ID>00000000-0000-0000-0000-000000000000</ID>\r\n  <ProviderID>00000000-0000-0000-0000-000000000000</ProviderID>\r\n  <ProviderName>string</ProviderName>\r\n  <Status>string</Status>\r\n  <StatusCode>0</StatusCode>\r\n  <CreationDate>string</CreationDate>\r\n  <CreditDays>0</CreditDays>\r\n  <LocationID>00000000-0000-0000-0000-000000000000</LocationID>\r\n  <ClientID>00000000-0000-0000-0000-000000000000</ClientID>\r\n  <DepartmentID>00000000-0000-0000-0000-000000000000</DepartmentID>\r\n  <DocumentType>0</DocumentType>\r\n  <DocumentNumber>string</DocumentNumber>\r\n  <Comments>string</Comments>\r\n  <VAT>0</VAT>\r\n  <InvoiceID>00000000-0000-0000-0000-000000000000</InvoiceID>\r\n  <CurrencyID>00000000-0000-0000-0000-000000000000</CurrencyID>\r\n  <ExchangeRate>0</ExchangeRate>\r\n  <UUID>string</UUID>\r\n  <Series>string</Series>\r\n  <VATRetention>0</VATRetention>\r\n  <ISRRetention>0</ISRRetention>\r\n  <IEPS>0</IEPS>\r\n  <Discount>0</Discount>\r\n  <FiscalID>00000000-0000-0000-0000-000000000000</FiscalID>\r\n  <ISRRetType>0</ISRRetType>\r\n  <RFC>string</RFC>\r\n  <ExpensePurchaseOrderItems>\r\n    <ID>00000000-0000-0000-0000-000000000000</ID>\r\n    <Qty>0</Qty>\r\n    <Cost>0</Cost>\r\n    <TypeID>00000000-0000-0000-0000-000000000000</TypeID>\r\n    <Name>string</Name>\r\n    <ExpensePurchaseOrderID>00000000-0000-0000-0000-000000000000</ExpensePurchaseOrderID>\r\n    <IndexItem>0</IndexItem>\r\n    <SATCompanyAccountID>00000000-0000-0000-0000-000000000000</SATCompanyAccountID>\r\n  </ExpensePurchaseOrderItems>\r\n  <DocumentTypeText>string</DocumentTypeText>\r\n  <CurrencyName>string</CurrencyName>\r\n  <ClientName>string</ClientName>\r\n  <LocationName>string</LocationName>\r\n</ExpenseDetails>",
                            "text/xml": "<ExpenseDetails>\r\n  <ID>00000000-0000-0000-0000-000000000000</ID>\r\n  <ProviderID>00000000-0000-0000-0000-000000000000</ProviderID>\r\n  <ProviderName>string</ProviderName>\r\n  <Status>string</Status>\r\n  <StatusCode>0</StatusCode>\r\n  <CreationDate>string</CreationDate>\r\n  <CreditDays>0</CreditDays>\r\n  <LocationID>00000000-0000-0000-0000-000000000000</LocationID>\r\n  <ClientID>00000000-0000-0000-0000-000000000000</ClientID>\r\n  <DepartmentID>00000000-0000-0000-0000-000000000000</DepartmentID>\r\n  <DocumentType>0</DocumentType>\r\n  <DocumentNumber>string</DocumentNumber>\r\n  <Comments>string</Comments>\r\n  <VAT>0</VAT>\r\n  <InvoiceID>00000000-0000-0000-0000-000000000000</InvoiceID>\r\n  <CurrencyID>00000000-0000-0000-0000-000000000000</CurrencyID>\r\n  <ExchangeRate>0</ExchangeRate>\r\n  <UUID>string</UUID>\r\n  <Series>string</Series>\r\n  <VATRetention>0</VATRetention>\r\n  <ISRRetention>0</ISRRetention>\r\n  <IEPS>0</IEPS>\r\n  <Discount>0</Discount>\r\n  <FiscalID>00000000-0000-0000-0000-000000000000</FiscalID>\r\n  <ISRRetType>0</ISRRetType>\r\n  <RFC>string</RFC>\r\n  <ExpensePurchaseOrderItems>\r\n    <ID>00000000-0000-0000-0000-000000000000</ID>\r\n    <Qty>0</Qty>\r\n    <Cost>0</Cost>\r\n    <TypeID>00000000-0000-0000-0000-000000000000</TypeID>\r\n    <Name>string</Name>\r\n    <ExpensePurchaseOrderID>00000000-0000-0000-0000-000000000000</ExpensePurchaseOrderID>\r\n    <IndexItem>0</IndexItem>\r\n    <SATCompanyAccountID>00000000-0000-0000-0000-000000000000</SATCompanyAccountID>\r\n  </ExpensePurchaseOrderItems>\r\n  <DocumentTypeText>string</DocumentTypeText>\r\n  <CurrencyName>string</CurrencyName>\r\n  <ClientName>string</ClientName>\r\n  <LocationName>string</LocationName>\r\n</ExpenseDetails>"
                        }
                    }
                }
            }
        },
        "/api/Formulas": {
            "get": {
                "description": "El filtro es opcional",
                "operationId": "Formulas_Get",
                "summary": "Obtiene la lista de productos.",
                "tags": [
                    "Formulas"
                ],
                "parameters": [
                    {
                        "name": "$filter",
                        "in": "query",
                        "description": "Filters the results, based on a Boolean condition.",
                        "type": "string"
                    },
                    {
                        "name": "$orderby",
                        "in": "query",
                        "description": "Sorts the results.",
                        "type": "string"
                    },
                    {
                        "name": "$top",
                        "in": "query",
                        "description": "Returns only the first n results.",
                        "type": "integer"
                    },
                    {
                        "name": "$skip",
                        "in": "query",
                        "description": "Skips the first n results.",
                        "type": "integer"
                    }
                ],
                "produces": [
                    "application/json",
                    "text/json"
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/FormulaPage"
                        },
                        "examples": {
                            "application/json": {
                                "value": [
                                    {
                                        "ID": "00000000-0000-0000-0000-000000000000",
                                        "Title": "string",
                                        "ProductID": "00000000-0000-0000-0000-000000000000",
                                        "ProductTitle": "string",
                                        "Qty": 0,
                                        "AdditionalCosts": 0
                                    }
                                ],
                                "nextLink": "string",
                                "count": 0
                            },
                            "text/json": {
                                "value": [
                                    {
                                        "ID": "00000000-0000-0000-0000-000000000000",
                                        "Title": "string",
                                        "ProductID": "00000000-0000-0000-0000-000000000000",
                                        "ProductTitle": "string",
                                        "Qty": 0,
                                        "AdditionalCosts": 0
                                    }
                                ],
                                "nextLink": "string",
                                "count": 0
                            }
                        }
                    }
                }
            },
            "put": {
                "description": "Formulas_UpdateFormula",
                "operationId": "Formulas_UpdateFormula",
                "summary": "Formulas_UpdateFormula",
                "tags": [
[...]
